{% extends "base_perfil_home.html" %} 

								{% block columna_principal %}
								<div class="list-group">
  					
								
									<h2>Amigos</h2>
									{% for p in lista_amigos %}
										<div class="panel panel-default" style="display: inline-table">
											<div class='panel-heading'>
												<img src='/media/{{p.path_principal}}' width="40px" height="40px">
												<a href="/redsocial/{{p.user.username}}">{{ p.user.first_name }} {{p.user.last_name}}</a>
											</div>
											<div class="panel-body">
												<h5>Nacimiento: {{p.fecha_nacimiento}}</h5>
												<h5>Rango: {{p.rango}}</h5>
												<h5>Ciudad: {{p.ciudad}}</h5>
											</div>
										</div>
									 <!--  <ul><li><img src='/static/{{p.path_principal}}' width='40px' height='40px'><a href="/redsocial/{{p.user.username}}">{{ p.user.first_name }} {{p.user.last_name}}</a></li></ul> -->
									{% endfor %}	
								</div>
								
								
								
								<h2>Recomendaciones por amigos en comun</h2>
								{% if rec_comun %}
									{% for tupla in lista_recomendacion_comun %}
										<!--  {if tupla.0 != 0.0 } -->
										<div class="panel panel-default" style="display: inline-table">
											<div class='panel-heading'>
												<img src='/media/{{tupla.1.path_principal}}' width="40px" height="40px">
												<a href="/redsocial/{{tupla.1.user.username}}">{{ tupla.1.user.first_name }} {{tupla.1.user.last_name}}</a>
											</div>
											<div class="panel-body">
												<h5>Nacimiento: {{tupla.1.fecha_nacimiento}}</h5>
												<h5>Rango: {{tupla.1.rango}}</h5>
											</div>
										</div>
										<!--  { else }
											<h4>Ahora mismo no tenemos personas con amigos en comun que mostrarte </h4>
										{ endif }-->
									 <!--  <ul><li><img src='/static/{{p.path_principal}}' width='40px' height='40px'><a href="/redsocial/{{p.user.username}}">{{ p.user.first_name }} {{p.user.last_name}}</a></li></ul> -->
									{% endfor %}	
								{% else %}
											<div class="alert alert-info" role="alert">Añade más amigos para encontrarte personas en común </div>
								
								{% endif %}
								
								
								<h2>Recomendaciones por jugadores favoritos comun</h2>
								{% if rec_gustos %}
									{% for tupla in lista_recomendacion_gustos %}
										<!--  {if tupla.0 != 0.0 } -->
										<div class="panel panel-default" style="display: inline-table">
											<div class='panel-heading'>
												<img src='/media/{{tupla.1.path_principal}}' width="40px" height="40px">
												<a href="/redsocial/{{tupla.1.user.username}}">{{ tupla.1.user.first_name }} {{tupla.1.user.last_name}}</a>
											</div>
											<div class="panel-body">
												<h5>Nacimiento: {{tupla.1.fecha_nacimiento}}</h5>
												<h5>Rango: {{tupla.1.rango}}</h5>
											</div>
										</div>
										<!--  { else }
											<h4>Ahora mismo no tenemos personas con gustos similares que mostrarte </h4>
										{ endif } -->
									 <!--  <ul><li><img src='/static/{{p.path_principal}}' width='40px' height='40px'><a href="/redsocial/{{p.user.username}}">{{ p.user.first_name }} {{p.user.last_name}}</a></li></ul> -->
									{% endfor %}
								{% else %}
											<div class="alert alert-info" role="alert">Ahora mismo no tenemos personas con gustos similares que mostrarte. Sigue a más jugadores </div>
								
								{% endif %}
								{%endblock%}

