{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}Base.html{% endblock %}</title>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
	<!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Modificaciones css bootstrap -->
    <link href="{% static 'css/prueba.css' %}" rel="stylesheet">
    
        <!-- WGO.js -->
    <script type="text/javascript" src="{% static 'wgo/wgo.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'wgo/wgo.player.min.js' %}"></script>
        <!-- Include script para solucionar crsf en ajax segun la documentacion oficial -->
    <script type="text/javascript" src="{% static 'js/principal.js' %}"></script>
    <link type="text/css" href="{% static 'wgo/wgo.player.css' %}" rel="stylesheet" />
    

</head>
<body>
	<div id="menu_principal">
		{% block menu_principal %}
		
				<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
				   <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>                        
				    </button>
					<a class="navbar-brand" href="{% url 'redsocial:home' %}">BadukRoom</a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar" >
					<div>
						<ul class="nav navbar-nav">
						 	<li><a href="{% url 'redsocial:perfil' user.username %}">Perfil</a></li> 
							<li><a href="{% url 'redsocial:lista_grupos' %}">Grupos</a></li>
							<li><a href="{% url 'principal:index' %}">Partidas</a></li>
							<form class="navbar-form navbar-right" role="search" method="get" action="{% url 'redsocial:buscar' %}">
								<div class="form-group">
									<input id='buscar_texto' type="text" class="form-control" placeholder="Amigos, Grupos, Partidas...">
								</div>
								<!--  <button id='buscar' type="submit" class="btn btn-default">Buscar</button> -->
								<a href="{% url 'redsocial:buscar' %}" class="btn btn-default" id='buscar' >Buscar</a>
							</form>
						</ul>
					</div>
					
					<div>
						<ul class="nav navbar-nav  navbar-right" >
							<!--  <li><img src='/static/imagenes/1.baduk.jpg' width="40px" height="40px"></li> -->
							<li><img src='{% static user.perfil.path_principal %}' width="40px" height="40px"></li> 
							<li><a href="#">{{ user.first_name }}</a></li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Más Opciones <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="#">Amigos</a></li>
									<li><a href="#">Configuracion</a></li>
									<li><a href="#">Ayuda</a></li>
									<li><a href="{% url 'logout:logout_view' %}">Salir</a></li>
								</ul>
							</li>
						</ul>
	
					</div>
				</div>
			</div>
			
		</nav>
		
		
		
		
		
		
		
		
<!--  
		<nav class="navbar navbar-inverse" role="navigation">

			 Brand and toggle get grouped for better mobile display 
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{% url 'redsocial:home' %}">Tablón</a>
			</div>
			 Collect the nav links, forms, and other content for toggling 
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav">
						 url 'redsocial:inicio' user.username % 
					  <li class="active"><a href="{% url 'redsocial:perfil' user.username %}">Perfil</a></li> 
					<li><a href="#">Grupos</a></li>
				</ul>
				
				<form class="navbar-form navbar-right" role="search" method="get" action="{% url 'redsocial:buscar' %}">
					<div class="form-group">
						<input id='buscar_texto' type="text" class="form-control" placeholder="Amigos, Partidas...">
					</div>
					<button id='buscar' type="submit" class="btn btn-default">Buscar</button>
				</form>
				
				
				
				
				<ul class="nav navbar-nav navbar-left">
					<li><a href="{% url 'principal:index' %}">Partidas</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Más Opciones <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#">Amigos</a></li>
							<li><a href="#">Configuracion</a></li>
							<li><a href="#">Ayuda</a></li>
							<li><a href="{% url 'logout:logout_view' %}">Salir</a></li>
						</ul>
					</li>
				</ul>
			</div>
			/.navbar-collapse 
			<div class="list-group" id="list-group">
  					
				</div>
		</nav>
-->
		{% endblock %}
	</div>

	<div id="cuerpo">
		{% block cuerpo %} {% endblock cuerpo%}
	</div>


    

    
{% block js%}
<script type="text/javascript">
$.contar=function(){
	$.get("{% url 'redsocial:contar_notificaciones' %}", function(data){
		if(data!=0){
			$('#notificaciones').text(data);
		}
	});
}
    
$.aceptarPeticion=function(){
	$('#aceptar').on('click', function(event) {
		event.preventDefault();
		$.post("{% url 'redsocial:aceptar_peticion' %}",{ nick: $('#nick').text() }, function(data){
			html="<a id='eliminar' href='#' class='btn btn-info' role='button'>Eliminar amigo</a>";
			$('#botones').html(html);
			$("#aceptar_peticion").modal('show'); 
		});
	});
}

$.declinarPeticion=function(){
	$('#rechazar').on('click', function(event){
		event.preventDefault();
		$.get("{% url 'redsocial:declinar_peticion' %}", {nick: $('#nick').text() }, function(data){
			alert('Vamos a recargar porque se borró con exito');
			location.reload(true);
		});
	});
}


$.comentar=function(){
	console.log("Entramos en comentar");
	$('#formulario').submit(function(event) { // catch the form's submit event
		event.preventDefault();
		var form= new FormData(this);
		var x = location.pathname;
		form.append("url",x);
		console.log(x);
		$.ajax({ // create an AJAX call...
			/*
			
			type: $(this).attr('method'), // GET or POST
			contentType:$(this).attr("enctype"), 
			url: $(this).attr('action'), // the file to call
			data: $(this).serialize(), // get the form data
			*/
			url: $(this).attr('action'),
			type: $(this).attr('method'),
		    //data: new FormData(this),
		    data: form,
		    processData: false,
		    contentType: false,
			success: function(data){ // on success..
				//location.reload(true);
				alert("Se ha comentado con exito");
			}  
		});
	});
}

$.responder=function(){
	console.log("Entramos en responder");
	$('#formulario_respuesta').submit(function(event) { // catch the form's submit event
		event.preventDefault();
		var form= new FormData(this);
		var x = location.pathname;
		form.append("url",x);
		form.append("id_comentario",$('#responder').attr('class'));
		console.log(x);
		alert($('#responder').attr('class'));
		var dic={"form":form, 'id':$('#responder').attr('class')};
		alert(dic);
		$.ajax({ // create an AJAX call...
			/*
			
			type: $(this).attr('method'), // GET or POST
			contentType:$(this).attr("enctype"), 
			url: $(this).attr('action'), // the file to call
			data: $(this).serialize(), // get the form data
			*/
			url: $(this).attr('action'),
			type: $(this).attr('method'),
		    //data: new FormData(this),
		    data: form,
		    processData: false,
		    contentType: false,
			success: function(data){ // on success..
				alert("la funcion se ha ejecutado correctamente");
			}  
		});
	});
}

//$('#buscar').on('click',function(event)  // catch the form's submit event

$.buscador=function(){
	//click
	//$('#buscar').on('click',function(event)
	console.log("Buscamos1");
	$('#buscar_texto').keydown(function(event){ //probar con keydown
		//event.preventDefault();
		console.log("Buscamos2");
		$.ajax({ // create an AJAX call...
			data: {"texto":$('#buscar_texto').val()}, // get the form data
			type: 'GET', // GET or POST
			url: "{% url 'redsocial:buscar' %}", // the file to call
			success: function(data){ // on success..
				console.log(data);
				console.log("construyendo enlaces");
				html="";
					for(var i=0;i<data.length; i++){
						console.log(data[i]);
						console.log(data[i].username);
						html+="<a href='/redsocial/"+data[i].username+"' class='list-group-item'>"+data[i].first_name+" "+data[i].last_name+"</a>"
					}
				$('#list-group').html(html);
			}  
		});
	});
	/*
	$('#buscar').on('click',function(event){
		$.get("{% url 'redsocial:buscar' %}", {"texto": $('#buscar_texto').val()}, function(data){
			window.location.replace("http://localhost/redsocial/busqueda.html");
		});
	});
	*/
}

$.agregar=function(){
	$('#agregar').on('click', function(event){
		event.preventDefault();
		var perfil=$('#nick').text();
		$.ajax({
			data:{"perfil_para_agregar":perfil},
			type:'POST',
			url: "{% url 'redsocial:agregar_ajax' %}",
			success: function(data){
				var perfil=$('#nick').text();
				html="<a id='#' href='#' class='btn btn-info' role='button'>La peticion ya ha sido enviada</a>";
				$('#botones').html(html);
				$("#example").modal('show'); 
			}
		});
	});
}

$.eliminar=function(){
	$('#eliminar').on('click', function(event){
		event.preventDefault();
		var perfil=$('#nick').text();
		$.ajax({
			data:{"perfil_para_eliminar":perfil},
			type:'GET',
			url: "{% url 'redsocial:eliminar_ajax' %}",
			success: function(data){
				var perfil=$('#nick').text();
				html="<a id='agregar' href='#' class='btn btn-info' role='button'>Agregar como amigo</a>";
				$('#botones').html(html);
				$("#example").modal('show'); 
			}
		});
	});
}

$.limpiar=function(boton){
	$.get("{% url 'redsocial:limpiar_notificaciones' %}", {boton: boton}, function(data){
		setTimeout(function(){location.reload()},2000);
	});
}

$.limpiarNotificaciones=function(){
	$('#limpiar_notificaciones').on('click', function(event){
		event.preventDefault();
		var boton='limpiar_notificaciones';
		$.limpiar(boton);
		$('#notificar').html("Se eliminaron correctamente las notificaciones");
	});
}

$.limpiarPeticiones=function(){
	$('#limpiar_peticiones').on('click', function(event){
		event.preventDefault();
		var boton='limpiar_peticiones';
		$.limpiar(boton);
		$('#peticion').html("Se eliminaron correctamente las peticiones");
	});
}

$.visualizarSGF=function(){
	$('#visualizar').on('click', function(event) {
		alert("Estoy pulsando en visualizar");
		event.preventDefault();
		$("#partida").modal('show'); 
	});
}
</script>
{% endblock js%}
    
{% block js2%}
{% endblock js2%}
</body>
</html>