{% extends "base_perfil_home.html" %}
{% load staticfiles %}
{% block columna_principal %}
								<div class="well"> 
								<!--  
									<form class="form-horizontal" role="form">
										<h4>¿Qué estás pensando?</h4>
										<div class="form-group" style="padding:14px;">
											<textarea class="form-control" placeholder="Actualiza tu estado"></textarea>
										</div>
										<button class="btn btn-primary pull-right" type="button">Comentar</button>
										<ul class="list-inline">
											<li><a href=""><i class="glyphicon glyphicon-upload"></i></a></li>
											<li><a href=""><i class="glyphicon glyphicon-camera"></i></a></li>
										</ul>
									</form>
								--><div class="panel panel-default">
										<div class="panel-heading">
											<h1>¿Qué estás pensando...?</h1>
										</div>
										<div class="panel-body">
											<form enctype="multipart/form-data" id='formulario' method="post" action="{% url 'redsocial:creaComentario' %}"   >
													{% csrf_token %} {{formulario.as_p}}
											<p>
												<input id='enviar' type='submit' value='enviar' />
											</p>
											</form>	
										</div>
									</div>
								</div>

								{% for d in lista_dic_commentarios_respuestas %} 
									<div class="panel panel-default">
												<div class="panel-heading">
													<img src='/static/{{d.comentario.perfil.path_principal}}' width="40px" height="40px">
													<h4>{{ d.comentario.perfil.user.username }}</h4>
													<h4 class="fecha_comentario">{{ d.comentario.fecha|date:"d/m/y/H/i/s" }}</h4>
													{% if d.comentario.perfil.user.username == user.username %}
														<a class="glyphicon glyphicon-remove eliminar_comentario /{{d.comentario.id}}"></a>
													{%endif%}
												</div>
												<div class="panel-body">
													{{ d.comentario.texto }}
													{% if d.comentario.partida.path != Null %}
														<div data-wgo="/static/{{d.comentario.partida.path}}">
																Sorry, your browser doesn't support WGo.js. Download SGF <a
																href="/static/{{d.comentario.partida.path}}">directly</a>.
														</div>
														
														<div>
														<a  href="/static/{{d.comentario.partida.path}}" class="btn btn-info" role="button">Descargar</a>
														</div>
													{% endif %}													
												</div>
												<div class="collapse navbar-collapse navbar-ex1-collapse">
													<ul class="nav navbar-nav">
														<li><a href="#">Me gusta</a></li>
														<li><a href="#">Comentar</a></li>	
													</ul>
												</div>
												{% for r in d.respuestas %}
													<div class="panel-body">
													<img src='/static/{{r.perfil.path_principal}}' width="40px" height="40px">
														{{r.perfil.user.first_name}} {{r.perfil.user.last_name}} {{ r.texto }}	
														<p class="fecha_comentario">{{r.fecha}}</p>	
														{% if r.partida.path != Null %}
															<a id="visualizar" class="btn btn-info" >Visualizar SGF</a>
															<div id='modal'>
																<div id="partida" class="modal" role="dialog" >
																	<div class="modal-dialog modal-lg" >
																		<div class="modal-content">
																			<div class="modal-header">
																				<h5>Visualizando</h5>
																			</div>
																			<div class="modal-body" style="height: 800px">
																				<div data-wgo="/static/{{r.partida.path}}" data-wgo-board="stoneHandler: WGo.Board.drawHandlers.SHELL" style="width: 700px">
																						Sorry, your browser doesn't support WGo.js. Download SGF <a
																						href="/static/{{r.partida.path}}">directly</a>.
																				</div>
																			</div>
																			<div class="modal-footer">
																				<button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
															<div data-wgo="/static/{{r.partida.path}}">
																	Sorry, your browser doesn't support WGo.js. Download SGF <a
																	href="/static/{{r.partida.path}}">directly</a>.
															</div>
															
															<div>
															<a  href="/static/{{r.partida.path}}" class="btn btn-info" role="button">Descargar</a>
															</div>
														{% endif %}											
													</div>
												{% endfor %}
												<div>
													<form class="formulario_respuesta" method="post"
														action="{% url 'redsocial:responder' %}" enctype="multipart/form-data">
														{% csrf_token %} {{formulario.as_p}}
														<p>
															<input class="{{d.comentario.id}}" id='responder' type='submit'
																value='enviar' />
														</p>
													</form>
												</div>
											</div>
								{% endfor %} 
								

{% endblock columna_principal %}

{% block js2 %}
<script type="text/javascript">	
restarFecha=function(){
	$(".fecha_comentario").each(function() { //AL COMENTAR Y RECARGAR LA PAGINA NO SE VUELVE A EJECUTAR DE PRIMERAS
		//Construimos el objeto Date de la fecha recibida
		var string=$(this).text();
		var array=string.split("/");
		var fecha_array=new Date("20"+array[2], array[1]-1, array[0], array[3], array[4], array[5]);
		//alert(fecha_array);
		var fecha=fecha_array.toLocaleDateString();
		//alert(fecha);
		//Fin construir el objeto Date
		var ahora=new Date();
		var diff= ahora.getTime()-fecha_array.getTime(); //cogemos diferencia en milisegundos
		var diffSeconds = (diff / 1000).toFixed(0) % 60;
		var diffMinutes = (diff / (60 * 1000)).toFixed(0) % 60;
		var diffHours = (diff / (60 * 60 * 1000)).toFixed(0) % 24;
		var diffDays = (diff / (24 * 60 * 60 * 1000)).toFixed(0);
		//alert(diffSeconds + "\n" + diffMinutes + "\n" + diffHours + "\n" + "\n" + diffDays);
		if (diffDays >= 1) {
			console.log("Se comento el " + fecha_array);
			$(this).text(fecha_array);
		} else if (diffHours >= 1 && diffHours < 24) {
			console.log("Fue hace " + diffHours + " horas");
			$(this).text("Hace "+diffHours+" hora(s)");
		} else if (diffHours < 1 && diffMinutes > 1
				&& diffMinutes < 60) {
			console.log("Fue hace " + diffMinutes + " minutos");
			$(this).text("Hace "+diffMinutes+" minuto(s)");
		} else if (diffMinutes < 1 && diffSeconds > 1
				&& diffSeconds < 60) {
			console.log("Fue hace " + diffSeconds + " segundos");
			$(this).text("Hace "+diffSeconds+" segundo(s)");
		}
	});
}
	$(function(){
		$.buscador();
		$.contar();
		$.visualizarSGF();
		$.comentar();
		$.responder();
		restarFecha();
		//alert($(".fecha_comentario").text());
		//Con esto recorremos todas las fechas ahora deberiamos ir cambiando una a una segun corresponda
		/*
		$(".fecha_comentario").each(function( index ) {
			console.log( index + ": " + $( this ).text() );
			var string=$(this).text();
			console.log(string);
			array=string.split("/");
			fecha_array=new Date("20"+array[2], array[1]-1, array[0], array[3], array[4], array[5]);
			console.log(fecha_array);
			var fecha=fecha_array.toLocaleDateString();
			console.log("Nueva fecha: "+fecha);
			
			//FUNCIONA
			var f1 = new Date(2015,04,02,15,30,41);
			var f2 = new Date(2015,04,02,15,30,35);
			var diff=f1.getTime()-f2.getTime();
			 

					var diffSeconds = (diff / 1000).toFixed(0) % 60;
					var diffMinutes = (diff / (60 * 1000)).toFixed(0) % 60;
					var diffHours = (diff / (60 * 60 * 1000)).toFixed(0) % 24;
					var diffDays = (diff / (24 * 60 * 60 * 1000)).toFixed(0);
					alert(diffSeconds + "\n" + diffMinutes + "\n" + diffHours
							+ "\n" + "\n" + diffDays);
					if (diffDays >= 1) {
						alert("Se comento el " + f1);
					} else if (diffHours >= 1 && diffHours < 24) {
						alert("Fue hace " + diffHours + " horas");
					} else if (diffHours != 1 && diffMinutes > 1
							&& diffMinutes < 60) {
						alert("Fue hace " + diffMinutes + " minutos");
					} else if (diffMinutes != 1 && diffSeconds > 1
							&& diffSeconds < 60) {
						alert("Fue hace " + diffSeconds + " segundos");
					}
				});
		*/
		//MODIFICAR LO ANTERIOR
		

	});
</script>
{% endblock js2 %}
