{% extends "base_perfil_home.html" %}
{% load staticfiles %}
{% block columna_principal %}
		<div class="well">
			<form id='formulario' method="post" action="{% url 'redsocial:creaComentario' %}" enctype="multipart/form-data">
				{% csrf_token %} {{formulario.as_p}}
				<p>
					<input id='enviar' type='submit' value='enviar' />
				</p>
			</form>
		</div>
	
		<div id="nuevos_datos">
			{%for c in comentarios %} 
			<div class="panel panel-default">
				<div class="panel-heading">
					<img src='/static/{{c.perfil.path_principal}}' width="40px" height="40px">
					<h4>{{ c.perfil.user.username }}</h4>
					<h4 class="fecha_comentario">{{ c.fecha|date:"d/m/y/H/i/s" }}</h4>
					<h5>{{ c.fecha}}</h5>
					{% if c.perfil.user.username == user.username %}
						<a class="glyphicon glyphicon-remove eliminar_comentario /{{c.id}}"></a>
					{%endif%}
				</div>
				<div class="panel-body">
						{{ c.texto }}
						{% if c.partida.path != Null %}
						<div data-wgo="/static/{{c.partida.path}}">
								Sorry, your browser doesn't support WGo.js. Download SGF <a
								href="/static/{{c.partida.path}}">directly</a>.
						</div>
						
						<div>
						<a  href="/static/{{c.partida.path}}" class="btn btn-info" role="button">Descargar</a>
						</div>
						{% endif %}
				</div>

				<div class="collapse navbar-collapse navbar-ex1-collapse">
					<ul class="nav navbar-nav">
						<li><a href="#">Me gusta</a></li>
						<li><a id="#" href="#">Responder</a></li>
					</ul>
				</div>
				<!-- ESTO ES UNA PRUEBA -->
				<div class="panel-body" id="div_body_respuesta">
				{% for r in c.respuesta_set.all %}
					<div class="panel-body" id="div_body_respuesta">
					<img src='{% static r.perfil.path_principal %}' width="40px" height="40px">
					<h4 class="fecha_comentario">{{ r.fecha|date:"d/m/y/H/i/s" }}</h4>
					{{ r.texto }}
					{% if r.partida.path != Null %}
						<div data-wgo="/static/{{r.partida.path}}">
								Sorry, your browser doesn't support WGo.js. Download SGF <a
								href="/static/{{r.partida.path}}">directly</a>.
						</div>
						
						<div>
						<a  href="/static/{{r.partida.path}}" class="btn btn-info" role="button">Descargar</a>
						</div>
						{% endif %}
					</div>
				{% endfor%}
				</div>
				<!-- FIN DE LA PRUEBA -->
				<div id="div_respuesta">
					<img src='{% static user.perfil.path_principal %}' width="40px" height="40px">
					<!--  <img src='/static/{{e.perfil}}' width="40px" height="40px"> -->
					<form class="formulario_respuesta" id='formulario_respuesta' method="post" action="{% url 'redsocial:responder' %}" enctype="multipart/form-data">
								{% csrf_token %} {{formulario.as_p}}
						<p>
							<input class="{{c.id}}" id='responder' type='submit' value='Responder' />
						</p>
					</form>
					
				</div>
			</div>
		{% endfor %} 
		</div>
		<div id="next">
			<a class="btn btn-primary" id="recargar_tablon" href="">Recargar</a>
		</div>
								

{% endblock columna_principal %}

{% block js2 %}
<script type="text/javascript">	

	$(function(){
		$.buscador();
		$.contar();
		$.visualizarSGF();
		$.comentar();
		$.responder();
		restarFecha();
		//alert($(".fecha_comentario").text());
		//Con esto recorremos todas las fechas ahora deberiamos ir cambiando una a una segun corresponda
		/*
		$(".fecha_comentario").each(function( index ) {
			console.log( index + ": " + $( this ).text() );
			var string=$(this).text();
			console.log(string);
			array=string.split("/");
			fecha_array=new Date("20"+array[2], array[1]-1, array[0], array[3], array[4], array[5]);
			console.log(fecha_array);
			var fecha=fecha_array.toLocaleDateString();
			console.log("Nueva fecha: "+fecha);
			
			//FUNCIONA
			var f1 = new Date(2015,04,02,15,30,41);
			var f2 = new Date(2015,04,02,15,30,35);
			var diff=f1.getTime()-f2.getTime();
			 

					var diffSeconds = (diff / 1000).toFixed(0) % 60;
					var diffMinutes = (diff / (60 * 1000)).toFixed(0) % 60;
					var diffHours = (diff / (60 * 60 * 1000)).toFixed(0) % 24;
					var diffDays = (diff / (24 * 60 * 60 * 1000)).toFixed(0);
					alert(diffSeconds + "\n" + diffMinutes + "\n" + diffHours
							+ "\n" + "\n" + diffDays);
					if (diffDays >= 1) {
						alert("Se comento el " + f1);
					} else if (diffHours >= 1 && diffHours < 24) {
						alert("Fue hace " + diffHours + " horas");
					} else if (diffHours != 1 && diffMinutes > 1
							&& diffMinutes < 60) {
						alert("Fue hace " + diffMinutes + " minutos");
					} else if (diffMinutes != 1 && diffSeconds > 1
							&& diffSeconds < 60) {
						alert("Fue hace " + diffSeconds + " segundos");
					}
				});
		*/
		//MODIFICAR LO ANTERIOR
		
		
		//FUNCION PARA RECARGAR COMENTARIOS EN EL TABLON
		$('#recargar_tablon').on(
				'click',
				function(event) {
					//alert("entramos en recargar");
					event.preventDefault();
					console.log("Entramos en load items");
					// If the next page doesn't exist, just quit now 
					if (hasNextPage === false) {
						//alert("hasNextPage es false");
						return false //ya no haria falta ya que al comprobar si son menos de diez se eliminara el boton
					}
					// Update the page number
					pageNum = pageNum + 1;
					alert("Pagina a cargar: "+pageNum);
					// Configure the url we're about to hit
					$.ajax({
						url : "{% url 'redsocial:home_ajax' %}",
						data : {
							page_number : pageNum
						},
						dataType : 'json', //add esto cuando vayamos a recivir del servidor un json
						success : function(data) {		
							alert("Funciona");
							alert(data);
							//alert(data.length);
							if(data.length < 5){
								//alert("No hay mas páginas");
								$('#next').html("<div class='alert alert-info' role='alert'>Ya no hay más comentarios que mostrar</div>");
							}
							// Update global next page variable
							hasNextPage = true;//.hasNext;
							// Loop through all items
							var html_lista_comentarios="";
							for (i = 0; i < data.length; i++){
								var html_comentario="<div class='panel panel-default'>";
								var html_panelheading="";
								var html_panelbody="";
								var html_navbar="";
								var html_lista_respuestas="";
								
								var html_form_respuesta="";
								//TRATAMIENTO DE LA FECHA
								fecha =  new Date(data[i].fecha);
								/*
								var options = {weekday: "long", year: "numeric", month: "long", day: "numeric"};
								fecha=fecha.toLocaleDateString("es-ES", options);
								fecha_string=fecha.split(",");
								fecha_def=fecha_string[1];
								*/
								//FIN TRATAMIENTO DEL FORMATO DE LA FECHA
								
								//Creacion panelHeading
								html_panelheading+="<div class='panel-heading'><img src='/static/"+data[i].path_principal+"' width='40px' height='40px'>"
								+"<h4>"+data[i].nombre+"</h4><h4 class='fecha_comentario'>"+cambiar_fecha_ajax(fecha)+"</h4>";
								//<h4 class="fecha_comentario">{ c.fecha|date:"d/m/y/H/i/s" }</h4>
								
								var username="{{user.username}}" //username del usuario logueado
								if(data[i].username == username){
									html_panelheading+="<a class='glyphicon glyphicon-remove eliminar_comentario /"+data[i].id+"'></a>"+"</div>";
								}else{
									html_panelheading+="</div>";
								}
								//Creacion panelBody
								html_panelbody+="<div class='panel-body'>"+data[i].texto;
								/*
								if(data[i].partida != ""){
									html_panelbody+="<div data-wgo='/static/"+data[i].partida+"'></div>"
									+"<div><a  href='/static/"+data[i].partida+"' class='btn btn-info' role='button'>Descargar</a></div>"+"</div>";
								}else{
									html_panelbody+="</div>";
								}
								*/
								if(data[i].partida !=""){
									html_respuesta+="<div class='player'>/static/"+data[i].partida+"</div>"
										+"<div><a  href='/static/"+data[i].partida+"' class='btn btn-info' role='button'>Descargar</a></div>";
								}else{
									html_respuesta+= "</div>";
								}
								
								
								//Creacion navbar me gusta
								html_navbar+="<div class='collapse navbar-collapse navbar-ex1-collapse'>"
								+"<ul class='nav navbar-nav'>"
									+"<li><a href='#'>Me gusta</a></li>"
									+"<li><a id='#' href='#'>Responder</a></li>"
								+"</ul></div>";
								//Creacion divs respuestas
								html_lista_respuestas+="<div class='panel-body' id='div_body_respuesta'>";
								for(j=0; j<data[i].respuestas.length; j++){
									//console.log(data[i].respuestas[j].texto);
									fechaR=new Date(data[i].respuestas[j].fecha);
									var html_respuesta="";
									html_respuesta+="<div class='panel-body' id='div_body_respuesta'>"
									+"<img src='"+data[i].respuestas[j].imagen_perfil+"' width='40px' height='40px'>"
									+"<h4 class='fecha_comentario'>"+cambiar_fecha_ajax(fechaR)+"</h4>"
									+data[i].respuestas[j].texto;
									//console.log(data[i].respuestas[j].partida);
									if(data[i].respuestas[j].partida !=""){
										html_respuesta+="<div class='player'>/static/"+data[i].respuestas[j].partida+"</div>"
											+"<div><a  href='/static/"+data[i].respuestas[j].partida+"' class='btn btn-info' role='button'>Descargar</a></div>";
									}else{
										html_respuesta+= "</div>";
									}
									//html_lista_respuestas+=html_respuesta+"</div>";
									html_lista_respuestas+=html_respuesta;
								}
								html_lista_respuestas+="</div>";
								//Creacion formulario respuesta
								var formulario='{{formulario.as_p|escapejs}}';
								var csrf_token="{% csrf_token %}";
								html_form_respuesta+="<div id='div_respuesta'>"
								+"<img src='{ static user.perfil.path_principal }' width='40px' height='40px'>"
								+"<form class='formulario_respuesta' id='formulario_respuesta' method='post' action='/redsocial/responder/' enctype='multipart/form-data'>"
								+ csrf_token + formulario
								+"<p><input class='"+data[i].id+"' id='responder' type='submit' value='Responder' /></p>"
								+"</form></div>";
								//Se juntan todas las partes
								html_comentario+=html_panelheading+html_panelbody+html_navbar+html_lista_respuestas;
								html_lista_comentarios+=html_comentario+html_form_respuesta+"</div>"+"</div>";
							}
							html=html_lista_comentarios;
							//Antes de crear los nuevos comentarios y respuestas cambiamos la clase player a los de la página anterior
							$(".player").addClass("player2");
							$(".player2").removeClass("player");
							//Fin cambiar clase player
							
							$("#nuevos_datos").append(html);
							
							$( ".player" ).each(function( index ) {
								console.log( index + ": " + $( this ).text() );
								var elem = $(this);
								console.log(elem);
								var sgf = $(this).text();
								console.log(sgf);
								
								var player= new WGo.BasicPlayer(this, {
									sgfFile: $(this).text()
									});
								//player.loadSgf(sgf);
								console.log("SGF CARGADO");
								});	
						},
						error : function(data) {
							// When I get a 400 back, fail safely
							hasNextPage = false;
							//alert("error");
						},
				        complete: function(data, textStatus){
				            // Turn the scroll monitor back on
				            //alert("Completado");
				            ;
						}
					});
					//alert("Realizado con exito");
				});
		

	});
</script>
{% endblock js2 %}
