{% extends "base_perfil_home.html" %}
{% load staticfiles %}

	{# Load the tag library #} 
	{% load bootstrap3 %} 
	{# Display django.contrib.messages as Bootstrap alerts #} 

{% block columna_principal %}

<div class="jumbotron" style="background-image: url('/media/{{perfil.path_portada}}')">
	
	<img id="imagen-principal" src='/media/{{perfil.path_principal}}'>
	<div id="div_nombre">
	<h2 class="h_nombre_perfil" id="nombre">{{perfil.user.first_name}}</h2>
	<h2 class="h_nombre_perfil" id="apellidos">{{perfil.user.last_name}}</h2>
	
	
	
	</div>
			<div id="botones_portada">
			<nav class="navbar navbar-default" id="nav_botones_portada">
				<div class="container-fluid">
				  <ul class="nav nav-tabs" role="tablist">
				    <li role="presentation" class="active"><a href="#tablon" aria-controls="tablon" role="tab" data-toggle="tab">Tablon</a></li>
				    <li role="presentation"><a href="#informacion" aria-controls="informacion" role="tab" data-toggle="tab">Informacion</a></li>
				    <li role="presentation"><a href="#amigos" aria-controls="amigos" role="tab" data-toggle="tab">Amigos</a></li>
				    <li role="presentation"><a href="#grupos" aria-controls="grupos" role="tab" data-toggle="tab">Grupos</a></li>
				  </ul>

				</div>
			</nav>
			</div>
	</div>

<div id="botones">
		{% for option in lista_dic_amigo %} 
			{% if somos_nosotros == True %}
				<!-- No add boton -->
			{% elif option.es_amigo == True %} 
				<a id="eliminar" href="#" class="btn btn-info" role="button">Eliminar amigo</a> 
			{% elif option.peticion_enviada == True %} 
				<a id="#" href="#" class="btn btn-info" role="button">La peticion ya ha sido enviada</a> 
			{% elif option.peticion_recibida == True %} 
				<a id="aceptar" href="#" class="btn btn-info" role="button">Aceptar peticion de amistad</a> 
				<a id="rechazar" href="#" class="btn btn-info" role="button">Rechazar peticion de amistad</a> 
			{% else %} 
				<a id="agregar" href="#" class="btn btn-info" role="button">Agregar como amigo</a> 
			{% endif %} 
		{% endfor %}
</div>

<div id='modal'>
	<div id="example" class="modal" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h3>Peticion</h3>
				</div>
				<div class="modal-body" style="height: 80px">
					<h3 id="mensaje">Petición de amistad enviada correctamente</h3>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>

	<div id="aceptar_peticion" class="modal" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h3>Ya son amigos</h3>
				</div>
				<div class="modal-body" style="height: 80px">
					<h3 id="mensaje">La petición fue aceptada</h3>
				</div>
				<div class="modal-footer" >
					<button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>
	
	<div id="rechazar_peticion" class="modal" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h3>Peticion</h3>
				</div>
				<div class="modal-body" style="height: 80px">
					<h3 id="mensaje">La petición fue rezhazada</h3>
				</div>
				<div class="modal-footer" >
					<button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>
	
	<div id="eliminacion_peticion" class="modal" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h3>Eliminado</h3>
				</div>
				<div class="modal-body" style="height: 80px">
					<h3 id="mensaje">Ha sido eliminado correctamente</h3>
				</div>
				<div class="modal-footer" >
					<button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>
</div>

{% if perfil_visible or somos_nosotros or es_amigo %}

<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="tablon">
	    {% if somos_nosotros == True %}

	    <div class="well">
	    <!-- {formulario.as_p} -->
			<form id='formulario' method="post" action="{% url 'redsocial:creaComentario' %}" enctype="multipart/form-data">
				{% csrf_token %}  {% bootstrap_form formulario layout='vertical' size="sm" %}
				<p>
					<input id='enviar' type='submit' value='enviar' />
				</p>
			</form>
		</div>
		{% endif %} 
	
		<div id="nuevos_datos">
			{%for c in comentarios %} 
			<div class="panel panel-default">
				<div class="panel-heading">
					<img src='/media/{{c.perfil.path_principal}}' width="40px" height="40px">
					<a href="/redsocial/{{c.perfil.user.username}}">{{ c.perfil.user.first_name}} {{c.perfil.user.last_name}}</a>
					<h4 class="fecha_comentario">{{ c.fecha|date:"d/m/y/H/i/s" }}</h4> <!-- Devolvemos la fecha en el mismo formato que con jquery -->
					{% if c.perfil.user.username == user.username %}
						<a class="glyphicon glyphicon-remove eliminar_comentario /{{c.id}}"></a>
					{%endif%}
				</div>
				<div class="panel-body">
						{{ c.texto }}
						{% if c.partida.path != Null %}
						<div data-wgo="/media/{{c.partida.path}}">
								Sorry, your browser doesn't support WGo.js. Download SGF <a
								href="/media/{{c.partida.path}}">directly</a>.
						</div>
						<div>
						<a  href="/media/{{c.partida.path}}" class="btn btn-info" role="button">Descargar</a>
						</div>
						{% endif %}
				</div>

				<!-- ESTO ES UNA PRUEBA -->
				<div class="panel-body" id="div_body_respuesta">
				{% for r in c.respuesta_set.all %}
					<div class="panel-body" id="div_body_respuesta">
					<img src='/media/{{r.perfil.path_principal}}' width="40px" height="40px">
					<a href="/redsocial/{{r.perfil.user.username}}">{{ r.perfil.user.first_name}}</a>
					{{ r.texto }}
					<h4 class="fecha_comentario">{{ r.fecha|date:"d/m/y/H/i/s" }}</h4>
					<!-- date:"d/m/y/H/i/s" -->
					{% if r.partida.path != Null %}
						<div data-wgo="/media/{{r.partida.path}}">
								Sorry, your browser doesn't support WGo.js. Download SGF <a
								href="/media/{{r.partida.path}}">directly</a>.
						</div>
						
						<div>
						<a  href="/media/{{r.partida.path}}" class="btn btn-info" role="button">Descargar</a>
						</div>
						{% endif %}
					</div>
				{% endfor%}
				</div>
				<!-- FIN DE LA PRUEBA -->
				
				{% if lista_dic_amigo.0.es_amigo == True or somos_nosotros == True %} 
				<div id="div_respuesta">
					<img src='/media/{{user.perfil.path_principal}}' width="40px" height="40px">
					<!--  <img src='/static/{{e.perfil}}' width="40px" height="40px"> -->
					<a href='/redsocial/{{user.username}}'>{{user.first_name}}</a>
					<form class="formulario_respuesta" id='formulario_respuesta' method="post" action="{% url 'redsocial:responder' %}" enctype="multipart/form-data">
								{% csrf_token %} {{formulario_respuesta.as_p}}
						<p>
							<input class="{{c.id}}" id='responder' type='submit' value='Responder' />
						</p>
					</form>
					
				</div>
				{% endif %}
				
			</div>
		{% endfor %} 
		</div>
		<div id="next">
			<a class="btn btn-primary" id="recargar_perfil" href="">Recargar</a>
		</div>
    
    </div>
    <div role="tabpanel" class="tab-pane" id="informacion">
    	<div class="panel panel-info">
				<div class="panel-heading">
					Informacion
				</div>
				<div class="panel-body">
					<h3>Fecha de nacimiento: {{perfil.fecha_nacimiento}}</h3>
					<h3>Ciudad: {{perfil.ciudad}}</h3>
					<h3>Rango: {{perfil.rango}}</h3>
				</div>
    	</div>
    	
    	<div class="panel panel-info">
				<div class="panel-heading">
					Jugadores favoritos
				</div>

				{% for e in perfil.jugadores_favoritos.all %}
					<div class="panel-body">
						<a href="{% url 'redsocial:partidas_jugador' e.id %}">{{e.nombre}}</a>
					</div>
				{%endfor%}			
    	</div>

    	
    </div>
    <div role="tabpanel" class="tab-pane" id="amigos">
			{% for p in amigos %}
			<div class="panel panel-default" style="display: inline-table">
				<div class='panel-heading'>
					<img src='/media/{{p.path_principal}}' width="40px" height="40px">
					<a href="/redsocial/{{p.user.username}}">{{ p.user.first_name}} {{p.user.last_name}}</a>
				</div>
				<div class="panel-body">
					<h5>Nacimiento: {{p.fecha_nacimiento}}</h5>
					<h5>Rango: {{p.rango}}</h5>
					<h5>Ciudad: {{p.ciudad}}</h5>
				</div>
			</div>
			{% endfor %}
    </div>
    
     <div role="tabpanel" class="tab-pane" id="grupos">
			{% for g in grupos %}
			<div class="panel panel-default">
				<div class='panel-heading'>
					<a href="/redsocial/grupo/{{g.pk}}">{{g.titulo}}</a>
				</div>
				<div class="panel-body">
					{{g.descripcion}}
				</div>
			</div>
			{% endfor %}
    </div>
    
</div>

{% else %}
		<div class="alert alert-danger" role="alert">Este perfil solo es visible para sus amigos.</div>
{% endif %}


{% endblock columna_principal %} 

{% block js2 %}
<script type="text/javascript">

$(document).ready(function(){
	    //código a ejecutar cuando el DOM está listo para recibir instrucciones.
	    var $win = $(window);
        $win.scroll(function () {
            if ($win.height() + $win.scrollTop()
                           == $(document).height()) {
				console.log("Entramos en load items");
				// If the next page doesn't exist, just quit now 
				if (hasNextPage === false) {
					return false //ya no haria falta ya que al comprobar si son menos de diez se eliminara el boton
				}
				// Update the page number
				pageNum = pageNum + 1;
				$.ajax({
					url : "{% url 'redsocial:perfil_ajax' perfil.user.username %}",
					data : {
						page_number : pageNum
					},
					dataType : 'json', //add esto cuando vayamos a recivir del servidor un json
					success : function(data) {
						if(data.length < 5){
							$('#next').html("<div class='alert alert-info' role='alert'>Ya no hay más comentarios que mostrar</div>");
						}
						hasNextPage = true;//.hasNext;
						html = "";
						console.log("Valor que tenia html: " + html);
						var html_lista_comentarios="";
						for (i = 0; i < data.length; i++){
							var html_comentario="<div class='panel panel-default'>";
							var html_panelheading="";
							var html_panelbody="";
							var html_navbar="";
							var html_lista_respuestas="";
							var html_form_respuesta="";
							//TRATAMIENTO DE LA FECHA
							var fecha =  new Date(data[i].fecha);
							//Creacion panelHeading
							html_panelheading+="<div class='panel-heading'><img src='/media/"+data[i].path_principal+"' width='40px' height='40px'>"
							+"<a href=/redsocial/"+data[i].username+">"+data[i].nombre+"</a><h4 class='fecha_comentario'>"+cambiar_fecha_ajax(fecha)+"</h4>";
							
							var username="{{user.username}}" //username del usuario logueado
							
							if(data[i].username == username){
								html_panelheading+="<a class='glyphicon glyphicon-remove eliminar_comentario /"+data[i].id+"'></a>"+"</div>";
							}else{
								html_panelheading+="</div>";
							}
							//Creacion panelBody
							html_panelbody+="<div class='panel-body'>"+data[i].texto;
							if(data[i].partida != ""){
								html_panelbody+="<div data-wgo='/media/"+data[i].partida+"'></div>"
								+"<div><a  href='/media/"+data[i].partida+"' class='btn btn-info' role='button'>Descargar</a></div>"+"</div>";
							}else{
								html_panelbody+="</div>";
							}
							//Creacion divs respuestas
							html_lista_respuestas+="<div class='panel-body' id='div_body_respuesta'>";
							for(j=0; j<data[i].respuestas.length; j++){
								//console.log(data[i].respuestas[j].texto);
								fechaR=new Date(data[i].respuestas[j].fecha);
								var html_respuesta="";
								html_respuesta+="<div class='panel-body' id='div_body_respuesta'>"
								+"<img src='/media/"+data[i].respuestas[j].imagen_perfil+"' width='40px' height='40px'>"
								+"<a href=/redsocial/"+data[i].respuestas[j].username+">"+data[i].respuestas[j].nombre+"</a>"
								+"<h4 class='fecha_comentario'>"+cambiar_fecha_ajax(fechaR)+"</h4>"
								+data[i].respuestas[j].texto;
								//console.log(data[i].respuestas[j].partida);
								if(data[i].respuestas[j].partida !=""){
									html_respuesta+="<div class='player'>/media/"+data[i].respuestas[j].partida+"</div>"
										+"<div><a  href='/media/"+data[i].respuestas[j].partida+"' class='btn btn-info' role='button'>Descargar</a></div>";
								}else{
									html_respuesta+= "</div>";
								}
								//html_lista_respuestas+=html_respuesta+"</div>";
								html_lista_respuestas+=html_respuesta;
							}
							html_lista_respuestas+="</div>";
							//Creacion formulario respuesta
							var formulario='{{formulario_respuesta.as_p|escapejs}}';
							var csrf_token="{% csrf_token %}";
							html_form_respuesta+="<div id='div_respuesta'>"
							+"<img src='/media/{{user.perfil.path_principal}}' width='40px' height='40px'>"
							+"<a href=/redsocial/"+data[i].username+">"+data[i].nombre+"</a>"
							+"<form class='formulario_respuesta' id='formulario_respuesta' method='post' action='/redsocial/responder/' enctype='multipart/form-data'>"
							+ csrf_token + formulario
							+"<p><input class='"+data[i].id+"' id='responder' type='submit' value='Responder' /></p>"
							+"</form></div>";
							//Se juntan todas las partes
							html_comentario+=html_panelheading+html_panelbody+html_navbar+html_lista_respuestas;
							html_lista_comentarios+=html_comentario+"{% if lista_dic_amigo.0.es_amigo == True or somos_nosotros == True %}"+html_form_respuesta+"{% endif %}"+"</div>"+"</div>";
						}
						html=html_lista_comentarios;
						//Antes de crear los nuevos comentarios y respuestas cambiamos la clase player a los de la página anterior
						$(".player").addClass("player2");
						$(".player2").removeClass("player");
						//Fin cambiar clase player
						
						$("#nuevos_datos").append(html);
						
						$( ".player" ).each(function( index ) {
							console.log( index + ": " + $( this ).text() );
							var elem = $(this);
							console.log(elem);
							var sgf = $(this).text();
							console.log(sgf);
							
							var player= new WGo.BasicPlayer(this, {
								sgfFile: $(this).text()
								});
							//player.loadSgf(sgf);
							console.log("SGF CARGADO");
							});		
					},
					error : function(data) {
						// When I get a 400 back, fail safely
						hasNextPage = false;
					},
			        complete: function(data, textStatus){

					}
				});
            }
        }); 
	$.comentar();
	$.buscador();
	$.contar();
	$.aceptarPeticion();
	$.declinarPeticion();
	$.agregar();
	$.eliminar();
	$.responder();
	$.eliminar_comentario();
	restarFecha();
	
	$('#recargar_perfil').on(
			'click',
			function(event) {
				event.preventDefault();
				console.log("Entramos en load items");
				// If the next page doesn't exist, just quit now 
				if (hasNextPage === false) {
					return false //ya no haria falta ya que al comprobar si son menos de diez se eliminara el boton
				}
				// Update the page number
				pageNum = pageNum + 1;
				$.ajax({
					url : "{% url 'redsocial:perfil_ajax' perfil.user.username %}",
					data : {
						page_number : pageNum
					},
					dataType : 'json', //add esto cuando vayamos a recivir del servidor un json
					success : function(data) {
						if(data.length < 5){
							$('#next').html("<div class='alert alert-info' role='alert'>Ya no hay más comentarios que mostrar</div>");
						}
						hasNextPage = true;//.hasNext;
						// Loop through all items
						html = "";
						console.log("Valor que tenia html: " + html);
						var html_lista_comentarios="";
						for (i = 0; i < data.length; i++){
							var html_comentario="<div class='panel panel-default'>";
							var html_panelheading="";
							var html_panelbody="";
							var html_navbar="";
							var html_lista_respuestas="";
							var html_form_respuesta="";
							//TRATAMIENTO DE LA FECHA
							var fecha =  new Date(data[i].fecha);				
							//Creacion panelHeading
							html_panelheading+="<div class='panel-heading'><img src='/media/"+data[i].path_principal+"' width='40px' height='40px'>"
							+"<a href=/redsocial/"+data[i].username+">"+data[i].nombre+"</a>"
							+"<h4 class='fecha_comentario'>"+cambiar_fecha_ajax(fecha)+"</h4>";
							
							var username="{{user.username}}" //username del usuario logueado
							if(data[i].username == username){
								html_panelheading+="<a class='glyphicon glyphicon-remove eliminar_comentario /"+data[i].id+"'></a>"+"</div>";
							}else{
								html_panelheading+="</div>";
							}
							//Creacion panelBody
							html_panelbody+="<div class='panel-body'>"+data[i].texto;
							if(data[i].partida != ""){
								html_panelbody+="<div data-wgo='/media/"+data[i].partida+"'></div>"
								+"<div><a  href='/media/"+data[i].partida+"' class='btn btn-info' role='button'>Descargar</a></div>"+"</div>";
							}else{
								html_panelbody+="</div>";
							}
							//Creacion divs respuestas
							html_lista_respuestas+="<div class='panel-body' id='div_body_respuesta'>";
							for(j=0; j<data[i].respuestas.length; j++){
								//console.log(data[i].respuestas[j].texto);
								fechaR=new Date(data[i].respuestas[j].fecha);
								var html_respuesta="";
								html_respuesta+="<div class='panel-body' id='div_body_respuesta'>"
									+"<img src='/media/"+data[i].respuestas[j].imagen_perfil+"' width='40px' height='40px'>"
									+"<a href=/redsocial/"+data[i].respuestas[j].username+">"+data[i].respuestas[j].nombre+"</a>"
									+"<h4 class='fecha_comentario'>"+cambiar_fecha_ajax(fechaR)+"</h4>"
									+data[i].respuestas[j].texto;
								//console.log(data[i].respuestas[j].partida);
								if(data[i].respuestas[j].partida !=""){						
									html_respuesta+="<div class='player'>/media/"+data[i].respuestas[j].partida+"</div>"
										+"<div><a  href='/media/"+data[i].respuestas[j].partida+"' class='btn btn-info' role='button'>Descargar</a></div>";
								}else{
									html_respuesta+= "</div>";
								}
								//html_lista_respuestas+=html_respuesta+"</div>";
								html_lista_respuestas+=html_respuesta;
							}
							html_lista_respuestas+="</div>";
							//Creacion formulario respuesta
							var formulario='{{formulario_respuesta.as_p|escapejs}}';
							var csrf_token="{% csrf_token %}";
							html_form_respuesta+="<div id='div_respuesta'>"
							+"<img src='/media/{{user.perfil.path_principal}}' width='40px' height='40px'>"
							+"<a href=/redsocial/"+data[i].username+">"+data[i].nombre+"</a>"
							+"<form class='formulario_respuesta' id='formulario_respuesta' method='post' action='/redsocial/responder/' enctype='multipart/form-data'>"
							+ csrf_token + formulario
							+"<p><input class='"+data[i].id+"' id='responder' type='submit' value='Responder' /></p>"
							+"</form></div>";
							//Se juntan todas las partes
							html_comentario+=html_panelheading+html_panelbody+html_navbar+html_lista_respuestas;
							html_lista_comentarios+=html_comentario+"{% if lista_dic_amigo.0.es_amigo == True or somos_nosotros == True %}"+html_form_respuesta+"{% endif %}"+"</div>"+"</div>";
						}
						html=html_lista_comentarios;
						//Antes de crear los nuevos comentarios y respuestas cambiamos la clase player a los de la página anterior
						$(".player").addClass("player2");
						$(".player2").removeClass("player");
						//Fin cambiar clase player
						$("#nuevos_datos").append(html);
						$( ".player" ).each(function( index ) {
							console.log( index + ": " + $( this ).text() );
							var elem = $(this);
							console.log(elem);
							var sgf = $(this).text();
							console.log(sgf);
							
							var player= new WGo.BasicPlayer(this, {
								sgfFile: $(this).text()
								});
							//player.loadSgf(sgf);
							console.log("SGF CARGADO");
							});
					},
					error : function(data) {
						// When I get a 400 back, fail safely
						hasNextPage = false;
					},
			        complete: function(data, textStatus){
			            // Turn the scroll monitor back on
					}
				});
			});
	});
	
</script>

{% endblock js2 %}
