{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>BadukRoom</title>



</head>
<body>
	<div class="container">
				<h1 >Crear Partida</h1>
				{% block contenido %}
				<form id='partida_form' method="post" action=''>
					{% csrf_token %} {{partida_form.as_p}}
					<p>
						<input type='submit' value='ingresar' />
					</p>
				</form>
				{% endblock %}
	</div>
</body>
</html>