{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}BadukRoom{% endblock %}</title>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
	<!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Modificaciones css bootstrap -->
    <link href="{% static 'css/prueba.css' %}" rel="stylesheet">
    
        <!-- WGO.js -->
    <script type="text/javascript" src="{% static 'wgo/wgo.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'wgo/wgo.player.min.js' %}"></script>
        <!-- Include script para solucionar crsf en ajax segun la documentacion oficial -->
    <script type="text/javascript" src="{% static 'js/principal.js' %}"></script>
    <link type="text/css" href="{% static 'wgo/wgo.player.css' %}" rel="stylesheet" />
    

</head>
<body>
	<div id="menu_principal">
	{# Load the tag library #} 
	{% load bootstrap3 %} 

	{% block menu_principal %}
		
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
				   <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>                        
				    </button>
					<a class="navbar-brand" href="{% url 'redsocial:home' %}">BadukRoom</a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar" >
					<div>
						<ul class="nav navbar-nav">
						 	<li><a href="{% url 'redsocial:perfil' user.username %}">Perfil</a></li> 
							<li><a href="{% url 'redsocial:lista_todos_grupos' %}">Grupos</a></li>
							<li><a href="{% url 'redsocial:partidas' %}">Partidas</a></li>
							<li><a href="{% url 'redsocial:revisiones' %}">Revisiones</a></li>
							<li>
								{%block formula%}
								<form id='formulario_busqueda' class="navbar-form navbar-right" method="POST" autocomplete="off"
									action="{% url 'redsocial:buscar' %}">
									{% csrf_token %} 
									<input id='buscar_texto' name='buscar_texto' type="text" class="form-control" placeholder="Amigos, Grupos, Partidas..." onkeyup="buscador()" onkeydown="buscador()">
									{% buttons %}
									<button id='buscar' type="submit" class="btn btn-primary">{% bootstrap_icon "search" %} Buscar</button>
									{% endbuttons %}
								{% endblock formula %}
								</form>
								
								<div class="list-group" id="list-group">
  					
								</div>
								
							</li>
						</ul>
					</div>
					
					<div>
						<ul class="nav navbar-nav  navbar-right" >
							<!--  <li><img src='/static/imagenes/1.baduk.jpg' width="40px" height="40px"></li> -->
							<li><img src='/media/{{user.perfil.path_principal}}' width="40px" height="40px"></li> 
							<li><a href="{% url 'redsocial:perfil' user.username %}">{{ user.first_name }}</a></li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Más Opciones <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="{% url 'redsocial:configuracion' %}">Configuracion</a></li>
									<li><a href="{% url 'logout_view' %}">Salir</a></li>
								</ul>
							</li>					
						</ul>
					</div>
				</div>
			</div>				
		</nav>
		{% endblock %}
	</div>

<div id='modal_aviso'>
	<div id="aviso" class="modal" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h3>Warning!</h3>
				</div>
				<div class="modal-body" style="height: 160px">
					<h3 id="mensaje_aviso"></h3>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>
</div>

	<div id="cuerpo">
		{% block cuerpo %} {% endblock cuerpo%}
	</div>
  
{% block js%}
<script type="text/javascript">

$("#menu-sidebar").click(function(e) {
	e.preventDefault();
	$("#box").toggleClass("toggled");
	});

$.contar=function(){
	$.get("{% url 'redsocial:contar_notificaciones' %}", function(data){
		if(data!=0){
			$('#notificaciones').text(data);
		}
	});
}


$.dejarSeguir=function(){
	$(document).on('click', "#noJugador", function(event){
		event.preventDefault();
		var dir_ip = location.href;
		var array_dir = dir_ip.split("/");
		var id_jugador=array_dir[array_dir.length-2]; //el -2 es por la url al finalizar con una barra al final
		$.ajax({
			data:{"id_jugador":id_jugador},
			type:'POST',
			url: "{% url 'redsocial:dejar_seguir' %}",
			success: function(data){
				location.reload(true); 
			}
		});
	});
}

$.seguirJugador=function(){
	$(document).on('click', "#siJugador", function(event){
		event.preventDefault();
		var dir_ip = location.href;
		var array_dir = dir_ip.split("/");
		var id_jugador=array_dir[array_dir.length-2]; //el -2 es por la url al finalizar con una barra al final
		$.ajax({
			data:{"id_jugador":id_jugador},
			type:'POST',
			url: "{% url 'redsocial:seguir_jugador' %}",
			success: function(data){
				location.reload(true); 
			}
		});
	});
}	

$.agregar=function(){
	$(document).on('click', "#agregar", function(event){
		event.preventDefault();
		var dir_ip = location.href;
		var array_dir = dir_ip.split("/");
		var nickname=array_dir[array_dir.length-2]; //el -2 es por la url al finalizar con una barra al final
		var perfil = nickname;
		$.ajax({
			data:{"perfil_para_agregar":perfil},
			type:'POST',
			url: "{% url 'redsocial:agregar_ajax' %}",
			success: function(data){
				html="<a id='#' href='#' class='btn btn-info' role='button'>La peticion ya ha sido enviada</a>";
				$('#botones').html(html);
				$("#example").modal('show'); 
			}
		});
	});
}

$.eliminar=function(){
	$(document).on('click', "#eliminar", function(event){
		event.preventDefault();
		var dir_ip = location.href;
		var array_dir = dir_ip.split("/");
		var nickname=array_dir[array_dir.length-2]; //el -2 es por la url al finalizar con una barra al final
		var perfil = nickname;
		$.ajax({
			data:{"perfil_para_eliminar":perfil},
			type:'GET',
			url: "{% url 'redsocial:eliminar_ajax' %}",
			success: function(data){
				//var perfil=$('#nick').text();
				html="<a id='agregar' href='#' class='btn btn-info' role='button'>Agregar como amigo</a>";
				$('#botones').html(html);
				$("#eliminacion_peticion").modal('show'); 
			}
		});
	});
}


$.aceptarPeticion=function(){
	$(document).on('click', "#aceptar", function(event){
		event.preventDefault();
		var dir_ip = location.href;
		var array_dir = dir_ip.split("/");
		var nickname=array_dir[array_dir.length-2]; //el -2 es por la url al finalizar con una barra al final
		var perfil = nickname;
		$.post("{% url 'redsocial:aceptar_peticion' %}",{ nick: perfil }, function(data){
			html="<a id='eliminar' href='#' class='btn btn-info' role='button'>Eliminar amigo</a>";
			$('#botones').html(html);
			$("#aceptar_peticion").modal('show'); 
		});
	});
}

$.declinarPeticion=function(){
	//$('#rechazar').on('click', function(event){
	$(document).on('click', "#rechazar", function(event){
		event.preventDefault();
		//Almacenamos el nick del perfil
		var dir_ip = location.href;
		var array_dir = dir_ip.split("/");
		var nickname=array_dir[array_dir.length-2]; //el -2 es por la url al finalizar con una barra al final
		var perfil = nickname;
		//alert("El perfil que enviamos: "+perfil);
		
		//$.get("{% url 'redsocial:declinar_peticion' %}", {nick: $('#nick').text() }, function(data){
		$.get("{% url 'redsocial:declinar_peticion' %}", {nick: perfil }, function(data){
			//alert('Vamos a recargar porque se borró con exito');
			location.reload(true);
		});
	});
}


$.comentar=function(){
	console.log("Entramos en comentar");
	$('#formulario').submit(function(event) { // catch the form's submit event
		event.preventDefault();
		var form= new FormData(this);
		var x = location.pathname;
		form.append("url",x);
		console.log(x);
		$.ajax({ // create an AJAX call...
			url: $(this).attr('action'),
			type: $(this).attr('method'),
		    data: form,
		    processData: false,
		    contentType: false,
			success: function(data){ // on success..
				console.log(data);
				if(data.error){
					html=data.error;
					$('#mensaje_aviso').html(html);
					$("#aviso").modal('show');
				}else{
					location.reload(true);
				}
				
				//alert("Se ha comentado con exito");
			}  
		});
	});
}

$.responder=function(){
	console.log("Entramos en responder");
	$(document).on('submit', ".formulario_respuesta", function(event){
	//$('.formulario_respuesta').submit(function(event) { // catch the form's submit event
		event.preventDefault();
	    var id_comentario=$(this).children('p:last')//seleccionamos <p> que contiene input responder
        .children(':last')//seleccionamos el input responder
        .attr("class");
	    var form= new FormData(this);
		var x = location.pathname;
		form.append("url",x);
		form.append("id_comentario",id_comentario);
		$.ajax({ // create an AJAX call...
			url: $(this).attr('action'),
			type: $(this).attr('method'),
		    //data: new FormData(this),
		    data: form,
		    processData: false,
		    contentType: false,
			success: function(data){ // on success..
				console.log(data);
				if(data.error){
					html=data.error;
					$('#mensaje_aviso').html(html);
					$("#aviso").modal('show');
				}else{
					location.reload(true);
				}
			}  
		});
	});
}


$.buscador=function(){
	//esta funcion no se usa pero la dejo aqui para luego cambiarla en home y perfil
	console.log("Buscamos1");
	$('#buscar_texto').keyup(function(event){ //probar con keydown      //El problema venia de tener el keyup metido dentro de una funcion...
		//event.preventDefault();
		console.log("Buscamos2");
		$.ajax({ // create an AJAX call...
			data: {"texto":$('#buscar_texto').val()}, // get the form data
			type: 'GET', // GET or POST
			url: "{% url 'redsocial:buscar' %}", // the file to call
			success: function(data){ // on success..
				console.log(data);
				console.log("construyendo enlaces");
				html="";
				for(var i=0;i<data.length; i++){
					if(data[i].length == 0){ //este bucle if es para imprimir no hay resultados en la busqueda ajax
						console.log($('#buscar_texto').val());
						if($('#buscar_texto').val() !="" && i==0){ //data[0] es la lista de personas
							html+="<li><div class='panel-heading'><h5 style='color:beige'>No se encontraron resultados para personas</h5></div></li>";
							
						}
						if($('#buscar_texto').val() !=""  && i==1){ //data[1] es la lista de grupos
							html+="<li><div class='panel-heading'><h5 style='color:beige'>No se encontraron resultados para grupos</h5></div></li>";
						}
					}else{
						for(var j=0;j<data[i].length; j++){
							console.log(data[i]);
							console.log(data[i][j].username);
							//html+="<li><a href='/redsocial/"+data[i].user__username+"'>"+data[i].user__first_name+" "+data[i].user__last_name+"</a></li>"
							if(i==0){
								if(j==0){
									html+="<li><div class='panel-heading' style='color:beige'>Personas</div></li>";
								}
								console.log('recorremos personas');
								
								html+="<li><div class='panel-heading'><img src='/media/"+data[i][j].path_principal+"' width='40px' height='40px'><a href='/redsocial/"+data[i][j].user__username+"'>"+data[i][j].user__first_name+" "+data[i][j].user__last_name+"</a></div></li>";
								if(j>2){
									html+="<li><div class='panel-heading'><h5 style='color:beige'>...pulse intro para ver mas..</h5></div></li>";
									break;
								}
							}
							if(i==1){
								if(j==0){
									html+="<li><div class='panel-heading' style='color:beige'>Grupos</div></li>";
								}
								console.log('recorremos grupos');
								html+="<li><div class='panel-heading'><a href='/redsocial/grupo/"+data[i][j].id+"'>"+data[i][j].titulo+"</a></div></li>";
								if(j>2){
									html+="<li><div class='panel-heading'><h5 style='color:beige'>...pulse intro para ver mas..</h5></div></li>";
									break;
								}
							}
						}
					}
				}
				console.log(html);
				$('#list-group').html(html);
			}  
		});
	});
}


$.eliminar_comentario=function(){
	$(".eliminar_comentario").on('click', function(event){
		event.preventDefault();
		var comentario_clase=$(this).attr("class");
		var array_clases=comentario_clase.split("/");
		var comentario_id=array_clases[1];
		//alert(comentario_id);
		$.ajax({
			data:{"comentario_id":comentario_id},
			type:'POST',
			url: "{% url 'redsocial:eliminar_comentario_ajax' %}",
			success: function(data){
				//alert("Comentario eliminado correctamente");
				window.location.reload();
			}
		});
	});
}

$.limpiar=function(boton){
	$.get("{% url 'redsocial:limpiar_notificaciones' %}", {boton: boton}, function(data){
		setTimeout(function(){location.reload()},2000);
	});
}

$.limpiarNotificaciones=function(){
	$('#limpiar_notificaciones').on('click', function(event){
		event.preventDefault();
		var boton='limpiar_notificaciones';
		$.limpiar(boton);
		$('#notificar').html("Se eliminaron correctamente las notificaciones");
	});
}

$.limpiarPeticiones=function(){
	$('#limpiar_peticiones').on('click', function(event){
		event.preventDefault();
		var boton='limpiar_peticiones';
		$.limpiar(boton);
		$('#peticion').html("Se eliminaron correctamente las peticiones");
	});
}

$.limpiarRevisiones=function(){
	$('#limpiar_revisiones').on('click', function(event){
		event.preventDefault();
		var boton='limpiar_revisiones';
		$.limpiar(boton);
		$('#revisiones').html("Se eliminaron correctamente las notificaciones del sistema de revisión");
	});
}

$.visualizarSGF=function(){
	$(document).on('click', "#visualizar", function(event){
		event.preventDefault();
		$("#partida").modal('show'); 
	});
}

var pageNum = 1; // The latest page loaded
var hasNextPage = true; // Indicates whether to expect another page after this one

//PRUEBA VARIABLE RECARGA
var pageNum_tablon=1;
var hasNextPage_tablon=true;
var pageNum_perfil=1;
var hasNextPage_perfil=true;
var pageNum_grupo=1;
var hasNextPage_grupo=true;
var pageNum_partidas_recientes_profesionales=1;
var hasNextPage_partidas_recientes_profesionales=true;
var pageNum_partidas_recientes_amateur=1;
var hasNextPage_partidas_recientes_amateur=true;
var pageNum_partidas_by_jugador=1;
var hasNextPage_partidas_by_jugador=true;
//FIN PRUEBAS VARIABLES RECARGA

$.recargar = function() {
	//alert("ola");		
}

restarFecha=function(){
	$(".fecha_comentario").each(function() { //AL COMENTAR Y RECARGAR LA PAGINA NO SE VUELVE A EJECUTAR DE PRIMERAS
			//Construimos el objeto Date de la fecha recibida
			var string=$(this).text();
			var array=string.split("/");
			var fecha_array=new Date("20"+array[2], array[1]-1, array[0], array[3], array[4], array[5]);
			var fecha=fecha_array.toLocaleDateString();
			//Fin construir el objeto Date
			var ahora=new Date();
			var diff= ahora.getTime()-fecha_array.getTime(); //cogemos diferencia en milisegundos
			var diffSeconds = (diff / 1000).toFixed(0) % 60;
			var diffMinutes = (diff / (60 * 1000)).toFixed(0) % 60;
			var diffHours = (diff / (60 * 60 * 1000)).toFixed(0) % 24;
			var diffDays = (diff / (24 * 60 * 60 * 1000)).toFixed(0);
			if (diffDays >= 1) {
				console.log("Se comento el " + fecha_array);
		        var options = {weekday: "long", month: "long", year: "numeric", day: "numeric"};
		        var options2 = {hour:"2-digit", minute:"2-digit"};
		        var fecha2=fecha_array.toLocaleDateString("es-ES", options);
		        var fecha3=fecha_array.toLocaleTimeString("es-ES", options2);
		        var fecha_string=fecha2.split(",");
		        var fecha_def=fecha_string[1]+" a la(s) "+fecha3
		        res = fecha_def;
		        $(this).text(res);
				//$(this).text(fecha_array);
			} else if (diffHours >= 1 && diffHours < 24) {
				console.log("Fue hace " + diffHours + " horas");
				$(this).text("Hace "+diffHours+" hora(s)");
			} else if (diffHours < 1 && diffMinutes > 1
					&& diffMinutes < 60) {
				console.log("Fue hace " + diffMinutes + " minutos");
				$(this).text("Hace "+diffMinutes+" minuto(s)");
			} else if (diffMinutes < 1 && diffSeconds > 1
					&& diffSeconds < 60) {
				console.log("Fue hace " + diffSeconds + " segundos");
				$(this).text("Hace "+diffSeconds+" segundo(s)");
			}
	});
}


cambiar_fecha_ajax=function(fecha){
	var options = {weekday: "long", year: "numeric", month: "long", day: "numeric"};
	var fecha1=fecha.toLocaleDateString("es-ES", options);
	var fecha_string=fecha1.split(",");
	var options2 = {hour:"2-digit", minute:"2-digit"};
	var tiempo=fecha.toLocaleTimeString("es-ES", options2);
	var fecha_def=fecha_string[1]+" a la(s) "+tiempo;
	return fecha_def;
}

$.unirseGrupo=function(){
	$(document).on('click', "#unir_grupo", function(event){
		event.preventDefault();
		var dir_ip = location.href;
		var array_dir = dir_ip.split("/");
		var grupo_id=array_dir[array_dir.length-2]; //el -2 es por la url al finalizar con una barra al final
		$.ajax({
			data:{"grupo_id":grupo_id},
			type:'POST',
			url: "{% url 'redsocial:unirse_grupo' %}",
			success: function(data){
				//var perfil=$('#nick').text();
				location.reload(true);
			}
		});
	});
}
	
$.dejarGrupo=function(){
	$(document).on('click', "#dejar_grupo", function(event){
		event.preventDefault();
		var dir_ip = location.href;
		var array_dir = dir_ip.split("/");
		var grupo_id=array_dir[array_dir.length-2]; //el -2 es por la url al finalizar con una barra al final
		$.ajax({
			data:{"grupo_id":grupo_id},
			type:'POST',
			url: "{% url 'redsocial:dejar_grupo' %}",
			success: function(data){
				//var perfil=$('#nick').text();
				console.log(data);
				console.log(data.vacio);
				if(data.vacio==true){
					console.log("Entramos en if");
					window.location="{% url 'redsocial:lista_grupos' %}";
				}else{
					location.reload(true);
				}
			}
		});
	});
}
</script>
{% endblock js%}
    
{% block js2%}
{% endblock js2%}
</body>
</html>