{% extends "base_perfil_home.html" %}
{% load staticfiles %}
{% block columna_principal %}


<div class="jumbotron" style="background-image: url('/static/{{ path_portada }}')">
	
	<div id="div_titulo">
		<h2 class="h_nombre_perfil" id="titulo">{{titulo}}</h2>
	</div>

	<div id="botones_portada">
			{% if miembro %}
				<a id="dejar_grupo" href="#" class="btn btn-info" role="button">Dejar Grupo</a> 
			{% else %} 
				<a id="unir_grupo" href="#" class="btn btn-info" role="button">Unirse</a> 
			{% endif %} 	
	</div>
</div>

<div id="botones">
			<nav class="navbar navbar-default" id="nav_botones_portada">
				<div class="container-fluid">
					<ul class="nav navbar-nav navbar-right">
						<li class="active"><a href="#">Tablon</a></li>
						<li><a href="#">Descripcion</a></li>
						<li><a href="#">Miembros</a></li>
						<li><a href="#">Partidas</a></li>
					</ul>
				</div>
			</nav>
</div>




<div class="well">
	<div class="panel panel-default">
			<div class="panel-heading">
				<h1>Publicar</h1>
			</div>
			<div class="panel-body">
				<form enctype="multipart/form-data" id='formulario' method="post" action="{% url 'redsocial:creaComentario' %}"   >
						{% csrf_token %} {{formulario.as_p}}
				<p>
					<input id='enviar' type='submit' value='enviar' />
				</p>
				</form>	
			</div>
		</div>
</div>

{% for e in lista_diccionario_comentarios %}
	{% for dic in e.comentarios %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>{{ dic.comentario.perfil.user.username }}</h4>
				<h5>{{ dic.comentario.fecha}}</h5>
				{% if dic.comentario.perfil.user.username == user.username %}
					<a class="glyphicon glyphicon-remove eliminar_comentario /{{dic.comentario.id}}"></a>
				{%endif%}
			</div>
			<div class="panel-body">
					{{ dic.comentario.texto }}
					{% if dic.comentario.partida.path != Null %}
					<div data-wgo="/static/{{dic.comentario.partida.path}}">
							Sorry, your browser doesn't support WGo.js. Download SGF <a
							href="/static/{{dic.comentario.partida.path}}">directly</a>.
					</div>
					
					<div>
					<a  href="/static/{{dic.comentario.partida.path}}" class="btn btn-info" role="button">Descargar</a>
					</div>
					{% endif %}
			</div>
			
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav">
					<li><a href="#">Me gusta</a></li>
					<li><a href="#">Responder</a></li>
				</ul>
			</div>
			{% for r in dic.respuestas %}
				<div class="panel-body">
				<img src='{% static r.perfil.path_principal %}' width="40px" height="40px">
				{{ r.texto }}
				{% if r.partida.path != Null %}
					<div data-wgo="/static/{{r.partida.path}}">
							Sorry, your browser doesn't support WGo.js. Download SGF <a
							href="/static/{{dic.comentario.partida.path}}">directly</a>.
					</div>
					
					<div>
					<a  href="/static/{{r.partida.path}}" class="btn btn-info" role="button">Descargar</a>
					</div>
					{% endif %}
				</div>
			{% endfor %}
			<div>
				
				<form class="formulario_respuesta" method="post" action="{% url 'redsocial:responder' %}" enctype="multipart/form-data">
							{% csrf_token %} {{formulario.as_p}}
					<p>
						<input class="{{dic.comentario.id}}" id='responder' type='submit' value='enviar' />
					</p>
				</form>
				
			</div>
		</div>
	{% endfor %}
{% endfor %}




{% endblock columna_principal %} 
{% block js2 %}
<script type="text/javascript">
	
$(function(){
	$.comentar();
	$.buscador();
	$.contar();
	$.aceptarPeticion();
	$.agregar();
	$.eliminar();
	$.responder();
});

</script>

{% endblock js2 %}
