{% extends "base_perfil_home.html" %}
{% load staticfiles %}
{# Load the tag library #} 
{% load bootstrap3 %} 
{% bootstrap_javascript %}


{% block columna_principal %}


		<div class="well">
		
			<form id='formulario' method="post" action="{% url 'redsocial:creaComentario' %}" enctype="multipart/form-data">
				{% csrf_token %} {% bootstrap_form formulario layout='vertical' size="sm" %}
				<p>
					<input id='enviar' type='submit' value='enviar' />
				</p>
			</form>
		</div>
	
		<div id="nuevos_datos">
			{%for c in comentarios %} 
			<div class="panel panel-default">
				<div class="panel-heading">
					<img src='/media/{{c.perfil.path_principal}}' width="40px" height="40px">
					<a href="/redsocial/{{c.perfil.user.username}}">{{ c.perfil.user.first_name}} {{c.perfil.user.last_name}}</a>
					<h4 class="fecha_comentario">{{ c.fecha|date:"d/m/y/H/i/s" }}</h4>
					{% if c.perfil.user.username == user.username %}
						<a class="glyphicon glyphicon-remove eliminar_comentario /{{c.id}}"></a>
					{%endif%}
				</div>
				<div class="panel-body">
						{{ c.texto }}
						{% if c.partida.path != Null %}
						<div data-wgo="/media/{{c.partida.path}}">
								Sorry, your browser doesn't support WGo.js. Download SGF <a
								href="/media/{{c.partida.path}}">directly</a>.
						</div>
						
						<div>
						<a  href="/media/{{c.partida.path}}" class="btn btn-info" role="button">Descargar</a>
						</div>
						{% endif %}
				</div>

				<!-- ESTO ES UNA PRUEBA -->
				<div class="panel-body" id="div_body_respuesta">
				{% for r in c.respuesta_set.all %}
					<div class="panel-body" id="div_body_respuesta">
					<img src='/media/{{r.perfil.path_principal}}' width="40px" height="40px">
					<a href="/redsocial/{{r.perfil.user.username}}">{{ r.perfil.user.first_name}}</a>
					<h4 class="fecha_comentario">{{ r.fecha|date:"d/m/y/H/i/s" }}</h4>
					{{ r.texto }}
					{% if r.partida.path != Null %}
						<div data-wgo="/media/{{r.partida.path}}">
								Sorry, your browser doesn't support WGo.js. Download SGF <a
								href="/media/{{r.partida.path}}">directly</a>.
						</div>
						
						<div>
						<a  href="/media/{{r.partida.path}}" class="btn btn-info" role="button">Descargar</a>
						</div>
						{% endif %}
					</div>
				{% endfor%}
				</div>
				<!-- FIN DE LA PRUEBA -->
				<div id="div_respuesta">
					<img src='/media/{{user.perfil.path_principal}}' width="40px" height="40px">
					<a href='/redsocial/{{user.username}}'>{{user.first_name}}</a>
					<form class="formulario_respuesta" id='formulario_respuesta' method="post" action="{% url 'redsocial:responder' %}" enctype="multipart/form-data">
								{% csrf_token %}   {{formulario.as_p}} 
						<p>
							<input class="{{c.id}}" id='responder' type='submit' value='Responder' />
						</p>
					</form>
					
				</div>
			</div>
		{% endfor %} 
		</div>
		<div id="next">
			<a class="btn btn-primary" id="recargar_tablon" href="">Recargar</a>
		</div>
								

{% endblock columna_principal %}

{% block js2 %}
<script type="text/javascript">	

	$(function(){
		
		//codigo a ejecutar cuando el DOM esta listo para recibir instrucciones.
		   
	    var $win = $(window);

        $win.scroll(function () {

            if ($win.height() + $win.scrollTop()
                           == $(document).height()) {

				console.log("Entramos en load items");
				// If the next page doesn't exist, just quit now 
				if (hasNextPage === false) {
					return false //ya no haria falta ya que al comprobar si son menos de diez se eliminara el boton
				}
				// Update the page number
				pageNum = pageNum + 1;
				// Configure the url we're about to hit
				$.ajax({
					url : "{% url 'redsocial:home_ajax' %}",
					data : {
						page_number : pageNum
					},
					dataType : 'json', //add esto cuando vayamos a recivir del servidor un json
					success : function(data) {
						if(data.length < 5){
							$('#next').html("<div class='alert alert-info' role='alert'>Ya no hay más comentarios que mostrar</div>");
						}

						hasNextPage = true;//.hasNext;
						// Loop through all items
						html = "";
						console.log("Valor que tenia html: " + html);
						var html_lista_comentarios="";
						for (i = 0; i < data.length; i++){
							var html_comentario="<div class='panel panel-default'>";
							var html_panelheading="";
							var html_panelbody="";
							var html_navbar="";
							var html_lista_respuestas="";
							var html_form_respuesta="";
							var fecha =  new Date(data[i].fecha);
							//Creacion panelHeading
							html_panelheading+="<div class='panel-heading'><img src='/media/"+data[i].path_principal+"' width='40px' height='40px'>"
							+"<a href=/redsocial/"+data[i].username+">"+data[i].nombre+"</a>"
							+"<h4 class='fecha_comentario'>"+cambiar_fecha_ajax(fecha)+"</h4>";
							
							var username="{{user.username}}" //username del usuario logueado
							if(data[i].username == username){
								html_panelheading+="<a class='glyphicon glyphicon-remove eliminar_comentario /"+data[i].id+"'></a>"+"</div>";
							}else{
								html_panelheading+="</div>";
							}
							//Creacion panelBody
							html_panelbody+="<div class='panel-body'>"+data[i].texto;
							if(data[i].partida != ""){
								html_panelbody+="<div data-wgo='/media/"+data[i].partida+"'></div>"
								+"<div><a  href='/media/"+data[i].partida+"' class='btn btn-info' role='button'>Descargar</a></div>"+"</div>";
							}else{
								html_panelbody+="</div>";
							}
							//Creacion divs respuestas
							html_lista_respuestas+="<div class='panel-body' id='div_body_respuesta'>";
							for(j=0; j<data[i].respuestas.length; j++){
								//console.log(data[i].respuestas[j].texto);
								fechaR=new Date(data[i].respuestas[j].fecha);
								var html_respuesta="";
								html_respuesta+="<div class='panel-body' id='div_body_respuesta'>"
								+"<img src='/media/"+data[i].respuestas[j].imagen_perfil+"' width='40px' height='40px'>"
								+"<a href=/redsocial/"+data[i].respuestas[j].username+">"+data[i].respuestas[j].nombre+"</a>"
								+"<h4 class='fecha_comentario'>"+cambiar_fecha_ajax(fechaR)+"</h4>"
								+data[i].respuestas[j].texto;
								//console.log(data[i].respuestas[j].partida);
								if(data[i].respuestas[j].partida !=""){
									html_respuesta+="<div class='player'>/media/"+data[i].respuestas[j].partida+"</div>"
										+"<div><a  href='/media/"+data[i].respuestas[j].partida+"' class='btn btn-info' role='button'>Descargar</a></div>";
								}else{
									html_respuesta+= "</div>";
								}
								html_lista_respuestas+=html_respuesta;
							}
							html_lista_respuestas+="</div>";
							//Creacion formulario respuesta
							var formulario='{{formulario_respuesta.as_p|escapejs}}'; 
							var csrf_token="{% csrf_token %}";
							html_form_respuesta+="<div id='div_respuesta'>"
							+"<img src='/media/{{user.perfil.path_principal}}' width='40px' height='40px'>"
							+"<a href=/redsocial/"+data[i].username+">"+data[i].nombre+"</a>"
							+"<form class='formulario_respuesta' id='formulario_respuesta' method='post' action='/redsocial/responder/' enctype='multipart/form-data'>"
							+ csrf_token + formulario
							+"<p><input class='"+data[i].id+"' id='responder' type='submit' value='Responder' /></p>"
							+"</form></div>";
							//Se juntan todas las partes
							html_comentario+=html_panelheading+html_panelbody+html_navbar+html_lista_respuestas;
							html_lista_comentarios+=html_comentario+html_form_respuesta+"</div>"+"</div>";
						}
						html=html_lista_comentarios;
						//Antes de crear los nuevos comentarios y respuestas cambiamos la clase player a los de la página anterior
						$(".player").addClass("player2");
						$(".player2").removeClass("player");
						//Fin cambiar clase player
						
						$("#nuevos_datos").append(html);
						
						$( ".player" ).each(function( index ) {
							console.log( index + ": " + $( this ).text() );
							var elem = $(this);
							console.log(elem);
							var sgf = $(this).text();
							console.log(sgf);
							
							var player= new WGo.BasicPlayer(this, {
								sgfFile: $(this).text()
								});
							//player.loadSgf(sgf);
							console.log("SGF CARGADO");
							});
					},
					error : function(data) {
						// When I get a 400 back, fail safely
						hasNextPage = false;
					},
			        complete: function(data, textStatus){
					}
				});
            }
        });
		
		
		$.buscador();
		$.contar();
		$.visualizarSGF();
		$.comentar();
		$.responder();
		restarFecha();
		$.eliminar_comentario();
			
		//FUNCION PARA RECARGAR COMENTARIOS EN EL TABLON
		$('#recargar_tablon').on(
				'click',
				function(event) {
					event.preventDefault();
					console.log("Entramos en load items");
					// If the next page doesn't exist, just quit now 
					if (hasNextPage === false) {
						return false //ya no haria falta ya que al comprobar si son menos de diez se eliminara el boton
					}
					// Update the page number
					pageNum = pageNum + 1;
					$.ajax({
						url : "{% url 'redsocial:home_ajax' %}",
						data : {
							page_number : pageNum
						},
						dataType : 'json', //add esto cuando vayamos a recivir del servidor un json
						success : function(data) {		
							if(data.length < 5){
								$('#next').html("<div class='alert alert-info' role='alert'>Ya no hay más comentarios que mostrar</div>");
							}
							// Update global next page variable
							hasNextPage = true;//.hasNext;
							// Loop through all items
							var html_lista_comentarios="";
							for (i = 0; i < data.length; i++){
								var html_comentario="<div class='panel panel-default'>";
								var html_panelheading="";
								var html_panelbody="";
								var html_navbar="";
								var html_lista_respuestas="";
								var html_form_respuesta="";
								fecha =  new Date(data[i].fecha);
								//Creacion panelHeading
								html_panelheading+="<div class='panel-heading'><img src='/media/"+data[i].path_principal+"' width='40px' height='40px'>"
								+"<a href=/redsocial/"+data[i].username+">"+data[i].nombre+"</a>"
								+"<h4 class='fecha_comentario'>"+cambiar_fecha_ajax(fecha)+"</h4>";
								var username="{{user.username}}" //username del usuario logueado
								if(data[i].username == username){
									html_panelheading+="<a class='glyphicon glyphicon-remove eliminar_comentario /"+data[i].id+"'></a>"+"</div>";
								}else{
									html_panelheading+="</div>";
								}
								//Creacion panelBody
								html_panelbody+="<div class='panel-body'>"+data[i].texto;
								if(data[i].partida !=""){
									html_respuesta+="<div class='player'>/media/"+data[i].partida+"</div>"
										+"<div><a  href='/media/"+data[i].partida+"' class='btn btn-info' role='button'>Descargar</a></div>";
								}else{
									html_respuesta+= "</div>";
								}
								//Creacion divs respuestas
								html_lista_respuestas+="<div class='panel-body' id='div_body_respuesta'>";
								for(j=0; j<data[i].respuestas.length; j++){
									//console.log(data[i].respuestas[j].texto);
									fechaR=new Date(data[i].respuestas[j].fecha);
									var html_respuesta="";
									html_respuesta+="<div class='panel-body' id='div_body_respuesta'>"
									+"<img src='/media/"+data[i].respuestas[j].imagen_perfil+"' width='40px' height='40px'>"
									+"<a href=/redsocial/"+data[i].respuestas[j].username+">"+data[i].respuestas[j].nombre+"</a>"
									+"<h4 class='fecha_comentario'>"+cambiar_fecha_ajax(fechaR)+"</h4>"
									+data[i].respuestas[j].texto;
									//console.log(data[i].respuestas[j].partida);
									if(data[i].respuestas[j].partida !=""){
										html_respuesta+="<div class='player'>/media/"+data[i].respuestas[j].partida+"</div>"
											+"<div><a  href='/media/"+data[i].respuestas[j].partida+"' class='btn btn-info' role='button'>Descargar</a></div>";
									}else{
										html_respuesta+= "</div>";
									}
									//html_lista_respuestas+=html_respuesta+"</div>";
									html_lista_respuestas+=html_respuesta;
								}
								html_lista_respuestas+="</div>";
								//Creacion formulario respuesta
								var formulario='{{formulario.as_p|escapejs}}';
								var csrf_token="{% csrf_token %}";
								html_form_respuesta+="<div id='div_respuesta'>"
								+"<img src='/media/{{user.perfil.path_principal}}' width='40px' height='40px'>"
								+"<a href=/redsocial/"+data[i].username+">"+data[i].nombre+"</a>"
								+"<form class='formulario_respuesta' id='formulario_respuesta' method='post' action='/redsocial/responder/' enctype='multipart/form-data'>"
								+ csrf_token + formulario
								+"<p><input class='"+data[i].id+"' id='responder' type='submit' value='Responder' /></p>"
								+"</form></div>";
								//Se juntan todas las partes
								html_comentario+=html_panelheading+html_panelbody+html_navbar+html_lista_respuestas;
								html_lista_comentarios+=html_comentario+html_form_respuesta+"</div>"+"</div>";
							}
							html=html_lista_comentarios;
							//Antes de crear los nuevos comentarios y respuestas cambiamos la clase player a los de la página anterior
							$(".player").addClass("player2");
							$(".player2").removeClass("player");
							//Fin cambiar clase player
							
							$("#nuevos_datos").append(html);
							
							$( ".player" ).each(function( index ) {
								console.log( index + ": " + $( this ).text() );
								var elem = $(this);
								console.log(elem);
								var sgf = $(this).text();
								console.log(sgf);
								
								var player= new WGo.BasicPlayer(this, {
									sgfFile: $(this).text()
									});
								//player.loadSgf(sgf);
								console.log("SGF CARGADO");
								});	
						},
						error : function(data) {
							// When I get a 400 back, fail safely
							hasNextPage = false;
							//alert("error");
						},
				        complete: function(data, textStatus){
						}
					});
				});
	});
</script>
{% endblock js2 %}