{% extends "base_perfil_home.html" %}
{% load staticfiles %}
{% block columna_principal %}
								<div class="well"> 
								<!--  
									<form class="form-horizontal" role="form">
										<h4>¿Qué estás pensando?</h4>
										<div class="form-group" style="padding:14px;">
											<textarea class="form-control" placeholder="Actualiza tu estado"></textarea>
										</div>
										<button class="btn btn-primary pull-right" type="button">Comentar</button>
										<ul class="list-inline">
											<li><a href=""><i class="glyphicon glyphicon-upload"></i></a></li>
											<li><a href=""><i class="glyphicon glyphicon-camera"></i></a></li>
										</ul>
									</form>
								--><div class="panel panel-default">
										<div class="panel-heading">
											<h1>¿Qué estás pensando...?</h1>
										</div>
										<div class="panel-body">
											<form enctype="multipart/form-data" id='formulario' method="post" action="{% url 'redsocial:creaComentario' %}"   >
													{% csrf_token %} {{formulario.as_p}}
											<p>
												<input id='enviar' type='submit' value='enviar' />
											</p>
											</form>	
										</div>
									</div>
								</div>

								{% for d in lista_dic_commentarios_respuestas %} 
									<div class="panel panel-default">
												<div class="panel-heading">
													<img src='/static/{{d.comentario.perfil.path_principal}}' width="40px" height="40px">
													<h4>{{ d.comentario.perfil.user.username }}</h4>
													<h4>{{ d.comentario.fecha }}</h4>
												</div>
												<div class="panel-body">
													{{ d.comentario.texto }}
													{% if d.comentario.partida.path != Null %}
														<div data-wgo="/static/{{d.comentario.partida.path}}">
																Sorry, your browser doesn't support WGo.js. Download SGF <a
																href="/static/{{d.comentario.partida.path}}">directly</a>.
														</div>
														
														<div>
														<a  href="/static/{{d.comentario.partida.path}}" class="btn btn-info" role="button">Descargar</a>
														</div>
													{% endif %}													
												</div>
												<div class="collapse navbar-collapse navbar-ex1-collapse">
													<ul class="nav navbar-nav">
														<li><a href="#">Me gusta</a></li>
														<li><a href="#">Comentar</a></li>	
													</ul>
												</div>
												{% for r in d.respuestas %}
													<div class="panel-body">
													<img src='/static/{{r.perfil.path_principal}}' width="40px" height="40px">
														{{r.perfil.user.first_name}} {{r.perfil.user.last_name}} {{ r.texto }}	
														<p>{{r.fecha}}</p>	
														{% if r.partida.path != Null %}
															<a id="visualizar" class="btn btn-info" >Visualizar SGF</a>
															<div id='modal'>
																<div id="partida" class="modal" role="dialog" >
																	<div class="modal-dialog modal-lg" >
																		<div class="modal-content">
																			<div class="modal-header">
																				<h5>Visualizando</h5>
																			</div>
																			<div class="modal-body" style="height: 800px">
																				<div data-wgo="/static/{{r.partida.path}}" data-wgo-board="stoneHandler: WGo.Board.drawHandlers.SHELL" style="width: 700px">
																						Sorry, your browser doesn't support WGo.js. Download SGF <a
																						href="/static/{{r.partida.path}}">directly</a>.
																				</div>
																			</div>
																			<div class="modal-footer">
																				<button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
															<div data-wgo="/static/{{r.partida.path}}">
																	Sorry, your browser doesn't support WGo.js. Download SGF <a
																	href="/static/{{r.partida.path}}">directly</a>.
															</div>
															
															<div>
															<a  href="/static/{{r.partida.path}}" class="btn btn-info" role="button">Descargar</a>
															</div>
														{% endif %}											
													</div>
												{% endfor %}
												<div>
													<form class="formulario_respuesta" method="post"
														action="{% url 'redsocial:responder' %}" enctype="multipart/form-data">
														{% csrf_token %} {{formulario.as_p}}
														<p>
															<input class="{{d.comentario.id}}" id='responder' type='submit'
																value='enviar' />
														</p>
													</form>
												</div>
											</div>
								{% endfor %} 
								

{% endblock columna_principal %}

{% block js2 %}
<script type="text/javascript">	
	$(function(){
		$.buscador();
		$.contar();
		$.visualizarSGF();
		$.comentar();
		$.responder();
	});
</script>
{% endblock js2 %}
