{% extends "base.html" %} {% block title %}My amazing blog{% endblock %}
{% load staticfiles %}
{% block cuerpo %} 
<p>Welcome, {{ user.username }}. Thanks for logging in.</p>
<div class="wrapper">
	<div class="box">
		<div class="row row-offcanvas row-offcanvas-left">
			<!-- sidebar left-->
			<div class="column col-sm-2 col-xs-1 sidebar-offcanvas" id="sidebar1">
				<ul class="nav">
					<li><a href="#" data-toggle="offcanvas" class="visible-xs text-center"><i class="glyphicon glyphicon-chevron-right"></i></a></li>
				</ul>

				<ul class="nav hidden-xs" id="lg-menu">
					<li class="active"><a href="#featured"><i class="glyphicon glyphicon-list-alt"></i> Mensajes</a></li>
					<li><a href="#stories"><i class="glyphicon glyphicon-list"></i> Grupos</a></li>
					<li><a href="#"><i class="glyphicon glyphicon-paperclip"></i> Saved</a></li>
					<li><a href="#"><i class="glyphicon glyphicon-refresh"></i> Refresh</a></li>
				</ul> 
			</div>
			<!-- /sidebar left-->

			<!-- main right col -->
			<div class="column col-sm-8 col-xs-12" id="main">
				<div class="padding">
					<div class="full col-sm-12">
						<!-- content -->                      
						<div class="row">
							<!-- main col left -->
							<!-- Creamos una columna de tamaño 3 sin utilizar -->
							<div class="col-sm-3">
							</div>
							<!-- centrar la columna principal-->
							<div class="col-sm-6">
								<div class="well"> 
									<!--  
									<form class="form-horizontal" role="form">
										<h4>¿Qué estás pensando?</h4>
										<div class="form-group" style="padding:14px;">
											<textarea class="form-control" placeholder="Actualiza tu estado"></textarea>
										</div>
										<button class="btn btn-primary pull-right" type="button">Publicar</button>
										<ul class="list-inline">
											<li><a href=""><i class="glyphicon glyphicon-upload"></i></a></li>
											<li><a href=""><i class="glyphicon glyphicon-camera"></i></a></li>
										</ul>
									</form>
									-->


									<!-- { csrf_token } -->
									<form id='formulario' method="post" action="{% url 'redsocial:creaComentario' %}" enctype="multipart/form-data">
										 {% csrf_token %} {{formulario.as_p}}
										<p>
											<input id='enviar' type='submit' value='enviar' />
										</p>
									</form>





								</div>
								{% for e in lista_diccionario_comentarios %} 
									{% if e.perfil.user.username == user.username %} 
										{% for dic in e.comentarios %}

											<div class="panel panel-default">
												<div class="panel-heading">
													<h4>{{ dic.comentario.perfil.user.username }}</h4>
												</div>
												<div class="panel-body">
													{{ dic.comentario.texto }}													
												</div>
												<div class="collapse navbar-collapse navbar-ex1-collapse">
													<ul class="nav navbar-nav">
														<li><a href="#">Me gusta</a></li>
														<li><a href="#">Comentar</a></li>	
													</ul>
												</div>
												{% for r in dic.respuestas %}
													<div class="panel-body">
														{{ r.texto }}													
													</div>
												{% endfor %} 
											</div>
										{% endfor %} 
									{% endif %} 
								{% endfor %}
								<div data-wgo="{% static 'sgf/ersev-angler59.sgf' %}">
									Sorry, your browser doesn't support WGo.js. Download SGF <a
										href="{% static 'sgf/ersev-angler59.sgf' %}">directly</a>.
								</div>

							</div> <!-- fin columna principal--> 
							<!--Creamos el margen derecho para centrar la de arriba con una columna falsa de 3 -->
							<div class="col-sm-3">
							</div>
						</div><!--/row-->
					</div><!-- /col-9 -->
				</div><!-- /padding -->
			</div><!-- /main -->

						<!-- sidebar right-->
			<div class="column col-sm-2 col-xs-1 sidebar-offcanvas" id="sidebar2">
				<ul class="nav">
					<li><a href="#" data-toggle="offcanvas" class="visible-xs text-center"><i class="glyphicon glyphicon-chevron-right"></i></a></li>
				</ul>

				<ul class="nav hidden-xs" id="lg-menu">
					<li class="active"><a href="#featured"><i class="glyphicon glyphicon-list-alt"></i> Mensajes</a></li>
					<li><a href="#stories"><i class="glyphicon glyphicon-list"></i> Grupos</a></li>
					<li><a href="#"><i class="glyphicon glyphicon-paperclip"></i> Saved</a></li>
					<li><a href="#"><i class="glyphicon glyphicon-refresh"></i> Refresh</a></li>
				</ul> 
			</div>
			<!-- /sidebar right-->

		</div>
	</div>
</div>
{% endblock cuerpo %}

{% block js %}
	<script>
	$('#formulario').submit(function(event) { // catch the form's submit event
    	event.preventDefault();
    	$.ajax({ // create an AJAX call...
            data: $(this).serialize(), // get the form data
            type: $(this).attr('method'), // GET or POST
            url: $(this).attr('action'), // the file to call
            success: function(data){ // on success..
            	console.log("comentario creado");
            	console.log(data);
            	console.log("recargando página");
            	location.reload(true);

            }  
        });
    	
    });
	</script>

{% endblock js %}
