{% extends "base_perfil_home.html" %} 
{% load staticfiles %} 
{% block columna_principal %}

<h1>Visualizando partidas de: {{jugador}}</h1>

{% if me_gusta %}
	<div class="alert alert-info" role="alert">Estas siguiendo a {{jugador}}!</div>
	<a id="noJugador" href="#" class="btn btn-danger" role="button">Dejar de seguir</a>
{% else %}
	<div class="alert alert-info" role="alert">Aun no sigues a {{jugador}}</div>
	<a id="siJugador" href="#" class="btn btn-info" role="button">Seguir</a>
{% endif %}

<table class="table">
	<thead>
		<tr>
			<th>Jugador Negro</th>
			<th>Jugador Blanco</th>
			<th>Fecha</th>
			<th>Resultado</th>
			<th>Partida</th>
		</tr>
	</thead>
	<tbody id="nuevos_datos_pro">
		{% for p in partidas %}
		<tr>
			<td><a
				href="{% url 'redsocial:partidas_jugador' p.jugador_negro.id %}">{{p.jugador_negro}}
					[{{p.rango_negro}}]</a></td>
			<td><a
				href="{% url 'redsocial:partidas_jugador' p.jugador_blanco.id %}">{{p.jugador_blanco}}
					[{{p.rango_blanco}}]</a></td>
			<td>{{p.fecha}}</td>
			<td>{{p.resultado}}</td>
			<td><a href="{% url 'redsocial:ver_partida' p.id %}">Visualizar</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
<div id="next">
	<a class="btn btn-primary" id="recargar" href="">Recargar</a>
</div>

{% endblock columna_principal %} 
{% block js2 %}
<script type="text/javascript">
	$(function() {
		$.comentar();
		$.buscador();
		$.contar();
		$.aceptarPeticion();
		$.agregar();
		$.eliminar();
		$.responder();
		$.recargar();
		$.dejarSeguir();
		$.seguirJugador();

		$('#recargar').on(
				'click',
				function(event) {
					/*
					*
					* En esta funcion tenemos que coger el id del jugador para recargar
					* lo haremos cogiendo la url y cortandola mediante un split para quedarnos 
					* con el ultimo campo de la url el cual es el identificador del jugador
					*
					*/
					
					var dir_ip = location.href;
					var array_dir = dir_ip.split("/");
					var id_jugador=array_dir[array_dir.length-2]; //el -2 es por la url al finalizar con una barra al final
					event.preventDefault();
					console.log("Entramos en load items");
					// If the next page doesn't exist, just quit now 
					if (hasNextPage === false) {
						return false //ya no haria falta ya que al comprobar si son menos de diez se eliminara el boton
					}
					// Update the page number
					pageNum = pageNum + 1;
					// Configure the url we're about to hit
					$.ajax({
						//url : "{ url 'redsocial:partidas_ajax' }",
						url : "/redsocial/jugadores/"+id_jugador+"/",
						data : {
							page_number : pageNum
						},
						dataType : 'json',
						success : function(data) {
							if (data.length < 10) {
								$('#next').html("<div class='alert alert-info' role='alert'>Ya no hay más partidas que mostrar</div>");
							}
							hasNextPage = true;//.hasNext;
							html = "";
							console.log("Valor que tenia html: " + html);
							for (i = 0; i < data.length; i++) {
								html += "<tr>" + "<th>"
										+ data[i].jugador_negro_id + "</th>"
										+ "<th>" + data[i].jugador_blanco_id
										+ "</th>" + "<th>" + data[i].fecha
										+ "</th>" + "<th>" + data[i].resultado
										+ "</th>" + "<th>" + data[i].path
										+ "</th>" + "</tr>";
							}
							$("#nuevos_datos").append(html);
						},
						error : function(data) {
							// When I get a 400 back, fail safely
							hasNextPage = false;
						},
						complete : function(data, textStatus) {
							//alert("Completado");
						}
					});
				});
	});
</script>

{% endblock js2 %}
