{% extends "base_perfil_home.html" %}
{% load staticfiles %}
{% block columna_principal %}
	{# Load the tag library #} 
	{% load bootstrap3 %} 
	{# Load CSS and JavaScript #} 
 
	{# Display django.contrib.messages as Bootstrap alerts #} 
	{% bootstrap_messages %}
						<h3>Peticiones de amistad</h3> 
						<a id="limpiar_peticiones" href="#" class="btn btn-info" role="button">Eliminar peticiones</a>
								<div id='peticion'>
								</div>
								
								<div>
								{% for n in lista_peticiones %} 
									<div class="panel panel-default">
										<div class="panel-heading">
													<h1>{{n.emisor.user.first_name}} {{n.emisor.user.last_name}} quiere ser tu amigo.</h1>
													<a href="{% url 'redsocial:perfil' n.emisor.user.username %}" class='btn btn-default'>Ver perfil</a>
										</div>
									</div>
								{% endfor %}
								</div>
								
								<h3>Tus notificaciones</h3> <a id="limpiar_notificaciones" href="#" class="btn btn-info" role="button">Eliminar notificaciones</a>
								<div id="notificar">
								
								</div>
								<div>
								{% for n in lista_notificaciones %}
									{% if n.revision == False %} 
									<div class="panel panel-default">
										<div class="panel-heading">
													<h1>{{n.mensaje|safe}}</h1>
										</div>
									</div>
									{%endif%}
								{% endfor %}
								</div>	
								
								<h3>Sistema de revision</h3> <a id="limpiar_revisiones" href="#" class="btn btn-info" role="button">Eliminar notificaciones revision</a>
								<div id="revisiones">
								</div>
								
								<div>
								{% for p in lista_peticiones_revision %}
									<div class="panel panel-default">
										<div class="panel-heading">
													<h1>{{p.mensaje|safe}}</h1>
													<button class="btn btn-primary" type="button" data-toggle="collapse"
														data-target="#collapseExample" aria-expanded="false"
														aria-controls="collapseExample">Aceptar</button>
													<div class="collapse" id="collapseExample">
														<div class="well">
															{% block content %}
															<form action="{% url 'redsocial:aceptar_partida_revisar' p.emisor.user.username %}" role="form" method="post" enctype="multipart/form-data" {% if layout != 'vertical' %}class="form-{{ layout }}"{% endif %}>
																{% csrf_token %} {% bootstrap_form form layout=layout %} 
																{% buttons submit='Enviar' reset="Resetear" %}{% endbuttons %}
															</form>
															{% endblock %}
														</div>
													</div>
													<a href="{% url 'redsocial:rechazar_partida_revisar' %}" class='btn btn-default'>Rechazar revision</a>						
										</div>
									</div>
								{% endfor %}
								</div>	
															
							</div> <!-- fin columna principal--> 
{% endblock columna_principal %}
{% block js2 %}
	<script>
	
	$(function(){
		$.contar();
		$.limpiarNotificaciones();
		$.limpiarPeticiones();
		$.limpiarRevisiones();
	});
	
	
	</script>

{% endblock js2 %}
