{% extends "base.html" %} {% block title %}My amazing blog{% endblock %}
{% load staticfiles %}
{% block cuerpo %} 
<p>Welcome, {{ user.username }}. Thanks for logging in.</p>

<div class="wrapper">
	<div class="box">
		<div class="row row-offcanvas row-offcanvas-left">
			<!-- sidebar left-->
			<div class="column col-sm-2 col-xs-1 sidebar-offcanvas" id="sidebar1">
				<ul class="nav">
					<li><a href="#" data-toggle="offcanvas" class="visible-xs text-center"><i class="glyphicon glyphicon-chevron-right"></i></a></li>
				</ul>

				<ul class="nav hidden-xs" id="lg-menu">
					<li class="active"><a href="#featured"><i class="glyphicon glyphicon-list-alt"></i> Mensajes</a></li>
					<li><a href="#stories"><i class="glyphicon glyphicon-list"></i> Grupos</a></li>
					<li><a href="#"><i class="glyphicon glyphicon-paperclip"></i> Notificaciones <span id="notificaciones" class="badge">12</span></a></li>
					<li><a href="#"><i class="glyphicon glyphicon-refresh"></i> Refresh</a></li>
				</ul> 
			</div>
			<!-- /sidebar left-->

			<!-- main right col -->
			<div class="column col-sm-8 col-xs-12" id="main">
				<div class="padding">
					<div class="full col-sm-12">
						<!-- content -->                      
						<div class="row">
							<!-- main col left -->
							<!-- Creamos una columna de tamaño 3 sin utilizar -->
							<div class="col-sm-3">
							</div>
							<!-- centrar la columna principal-->
							<div class="col-sm-9">
								<h3>Peticiones de amistad</h3>
								
								
								
								{% for n in lista_peticiones %} 
									<div class="panel panel-default">
										<div class="panel-heading">
													<h1>{{n.emisor.user.first_name}} {{n.emisor.user.last_name}} quiere ser tu amigo.</h1>
													<!--  <img src='/static/{{n.emisor.foto_portada}}'> -->
													<a href="{% url 'redsocial:perfil' n.emisor.user.username %}" class='btn btn-default'>Ver perfil</a>
													<a id="aceptar" href="#" class="btn btn-info" role="button">Aceptar</a>
													<a id="rechazar" href="#" class="btn btn-info" role="button">Rechazar</a>
															
										</div>
									</div>
								{% endfor %}

							</div> <!-- fin columna principal--> 
							<!--Creamos el margen derecho para centrar la de arriba con una columna falsa de 3 -->
							<!--  
							<div class="col-sm-3">
							</div>
							-->
						</div><!--/row-->
					</div><!-- /col-9 -->
				</div><!-- /padding -->
			</div><!-- /main -->

						<!-- sidebar right-->
						<!--  
			<div class="column col-sm-2 col-xs-1 sidebar-offcanvas" id="sidebar2">
				<ul class="nav">
					<li><a href="#" data-toggle="offcanvas" class="visible-xs text-center"><i class="glyphicon glyphicon-chevron-right"></i></a></li>
				</ul>

				<ul class="nav hidden-xs" id="lg-menu">
					<li class="active"><a href="#featured"><i class="glyphicon glyphicon-list-alt"></i> Mensajes</a></li>
					<li><a href="#stories"><i class="glyphicon glyphicon-list"></i> Grupos</a></li>
					<li><a href="#"><i class="glyphicon glyphicon-paperclip"></i> Notificaciones</a></li>
					<li><a href="#"><i class="glyphicon glyphicon-refresh"></i> Refresh</a></li>
				</ul> 
			</div>
			-->
			<!-- /sidebar right-->

		</div>
	</div>
</div>
{% endblock cuerpo %}

{% block js %}
	<script>
	
	//definimos la funcion contar con jquery a la que llamamos al final del script
	$.contar=function(){
		$.get("{% url 'redsocial:contar_notificaciones' %}", function(data){
			$('#notificaciones').text(data);
	    });
	}
	

	
	$('#formulario').submit(function(event) { // catch the form's submit event
    	event.preventDefault();
    	$.ajax({ // create an AJAX call...
            data: $(this).serialize(), // get the form data
            type: $(this).attr('method'), // GET or POST
            url: $(this).attr('action'), // the file to call
            success: function(data){ // on success..
            	console.log("comentario creado");
            	console.log(data);
            	console.log("recargando página");
            	location.reload(true);

            }  
        });
    	
    });
	
	$('#buscar').on('click', function(event) { // catch the form's submit event
    	event.preventDefault();
		alert($('#buscar_texto').val())
	
    	$.ajax({ // create an AJAX call...
            data: {"texto":$('#buscar_texto').val()}, // get the form data
            type: 'POST', // GET or POST
            url: "{% url 'redsocial:buscar' %}", // the file to call
            success: function(data){ // on success..
            	console.log(data);
            	console.log("construyendo enlaces");
            	html="";
            	for(var i=0;i<data.length; i++){
            		console.log(data[i]);
            		console.log(data[i].username);
            		html+="<a href='/redsocial/"+data[i].username+"' class='list-group-item'>"+data[i].first_name+" "+data[i].last_name+"</a>"
            	}
            	$('#list-group').html(html)
            	/*window.location("{ url 'redsocial:{username}' }");*/
            }  
        });
    	
    });
	
	$('#agregar').on('click', function(event){
		event.preventDefault();
		var perfil=$('#nick').text();
		console.log(perfil);
		alert($('#nick').text());
		$.ajax({
			data:{"perfil_para_agregar":perfil},
			type:'POST',
			url: "{% url 'redsocial:agregar_ajax' %}",
			success: function(data){
				var perfil=$('#nick').text();
				console.log(perfil);
				console.log(data);
			}
		});
	});
	
	$(function(){
		$.contar();
	});
	
	
	</script>

{% endblock js %}
