{% extends "base_perfil_home.html" %} 
{% load staticfiles %} 

	{# Load the tag library #} 
	{% load bootstrap3 %} 
	{# Load CSS and JavaScript #} 
	
	{% bootstrap_javascript %} 
	{# Display django.contrib.messages as Bootstrap alerts #} 
	{% bootstrap_messages %}


{% block columna_principal %}

{% block menu_filtrar%}
<ul class="nav nav-pills" role="tablist">
	<li class="active"><a href="#">Recientes</a></li>
	<li><a href="#">Fuerza</a></li>
	<li><a href="#">Revisor</a></li>
	<li><a href="#">Información</a></li>
</ul>

<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  Enviar partida a revisar
</button>
<div class="collapse" id="collapseExample">
  <div class="well">
    {% block content %}

    <form action="{% url 'redsocial:enviar_partida_revisar' %}" role="form" method="post" enctype="multipart/form-data" {% if layout != 'vertical' %}class="form-{{ layout }}"{% endif %}>
        {% csrf_token %}
        {% bootstrap_form form layout=layout %}
        {% buttons submit='Enviar' reset="Resetear" %}{% endbuttons %}
    </form>
	{% endblock %}
  </div>
</div>

{% endblock menu_filtrar%}

{%block filtrar %}
{%endblock filtrar%}

{%block tabla%}
<table class="table">
	<thead>
		<tr>
			<th>Revisor</th>
			<th>Jugador Negro</th>
			<th>Jugador Blanco</th>
			<th>Fecha</th>
			<th>Resultado</th>
			<th>Partida</th>
		</tr>
	</thead>
	<tbody id="nuevos_datos">
		{%block resultados%}
		{% for p in partidas_revisadas %}
			<tr>
				<td><a href="{% url 'redsocial:by_revisor' p.revisor.nickname_kgs %}">{{p.revisor.nickname_kgs}}</a></td>
				<td><a href="{% url 'redsocial:partidas_jugador' p.jugador_negro.id %}">{{p.jugador_negro}}</a></td>
				<td><a href="{% url 'redsocial:partidas_jugador' p.jugador_blanco.id %}">{{p.jugador_blanco}}</a></td>
				<td>{{p.fecha}}</td>
				<td>{{p.resultado}}</td>
				<td><a href="{% url 'redsocial:ver_partida' p.id %}">Visualizar</a></td>
			</tr>
		{% endfor %}
		{%endblock resultados%}
	</tbody>
</table>
<div id="next">
	<a class="btn btn-primary" id="recargar_revisiones" href="">Recargar</a>
</div>
{%endblock tabla%}


{% endblock columna_principal %} 
{% block js2 %}
<script type="text/javascript">
	$(function() {
		$.comentar();
		$.buscador();
		$.contar();
		$.aceptarPeticion();
		$.agregar();
		$.eliminar();
		$.responder();
		$.recargar();
		
		$('#recargar').on(
				'click',
				function(event) {
					//alert("entramos en recargar");
					event.preventDefault();
					console.log("Entramos en load items");
					// If the next page doesn't exist, just quit now 
					if (hasNextPage === false) {
						//alert("hasNextPage es false");
						return false //ya no haria falta ya que al comprobar si son menos de diez se eliminara el boton
					}
					// Update the page number
					pageNum = pageNum + 1;
					// Configure the url we're about to hit
					$.ajax({
						url : "{% url 'redsocial:partidas_ajax' %}",
						data : {
							page_number : pageNum
						},
						dataType : 'json', //add esto cuando vayamos a recivir del servidor un json
						success : function(data) {
							//alert(data.length);
							if(data.length < 10){
								//alert("No hay mas páginas");
								$('#next').html("Ya no hay más partidas que mostrar");
							}
							
							//alert(JSON.stringify(data.fields));
							//No se ejecuta lo de dentro y si el complete
							//alert("entramos en success");
							// Update global next page variable
							hasNextPage = true;//.hasNext;
							// Loop through all items
							html = "";
							console.log("Valor que tenia html: " + html);
							//alert("Imprimimos json fields");
							//alert(JSON.stringify(data.fields));
							for (i = 0; i < data.length; i++){
								/*
								html += "<tr>" + "<th>"
								+ "<a href='redsocial/jugadores/"+ data[i].fields.jugador_negro[1] +"/'></a>"
										+ data[i].fields.jugador_negro[0]+ "</th>"
										+ "<th>" + data[i].fields.jugador_blanco[0]
										+ "</th>" + "<th>" + data[i].fields.fecha
										+ "</th>" + "<th>" + data[i].fields.resultado
										+ "</th>" + "<th>"
										+ data[i].fields.path+ "</th>"
										+ "</tr>"; */
								html+="<tr><td><a href='/redsocial/jugadores/"+data[i].fields.jugador_negro[1]+"'>"+data[i].fields.jugador_negro[0]+"</a></td>"
								+"<td><a href='/redsocial/jugadores/"+data[i].fields.jugador_blanco[1]+"'>"+data[i].fields.jugador_blanco[0]+"</a></td>"
								+"<td>"+data[i].fields.fecha+"</td>"
								+"<td>"+data[i].fields.resultado+"</td>"
								+"<td>"+data[i].fields.path+"</td>";
										

								/*
								$("#newItems").before(
								// Do something with your json object response
									//console.log(i)
									//console.log(data[i])
									
								);*/
							}
							$("#nuevos_datos").append(html);
						},
						error : function(data) {
							// When I get a 400 back, fail safely
							hasNextPage = false;
						},
				        complete: function(data, textStatus){
				            // Turn the scroll monitor back on
				            //alert("Completado");
						}
					});
					//alert("Realizado con exito");
				});
	});
</script>

{% endblock js2 %}
